[2019-04-03 15:36] axel22 opened #2 "Add Travis definition file for basic testing"
We should have some basic testing for basic Q&A. The Travis job at GitHub should:

- build the project (`renaissanceBundle`)
- check that the formatting is correct (`renaissanceFormat`)
- run all the benchmarks

[2019-04-08 14:05] axel22 opened #6 "Embed licensing information into the benchmarks"

[2019-04-08 14:06] axel22 opened #7 "We should use sbt-assembly to generate a single super-JAR as the result of building the suite"

[2019-04-08 19:42] #2 closed, assigned to vhotspur

[2019-04-08 22:12] axel22 opened #11 "Website Completion"
The website is mostly ready, but it is still missing a few things:

- ~~JavaScript logic that fetches the README.md and CONTRIBUTION.md and embeds the content into a special page on the website (so that the files and the website are always in sync) - Contribute link at the top is already there, Getting Started link also (should lead to a page with the README)~~
- ~~The link to the **downloads** pa

[2019-04-09 18:36] lbulej opened #13 "Make it possible to run two Renaissance instances side by side"
I'm not sure whether it is possible or not at the moment, but as we merge benchmarks with complex underlying frameworks, we should make sure that they can't step on each other's toes.

This is probably easy for things such as scratch space -- the harness should provide a benchmark with a scratch directory beneath a global scratch space.

It's probably going to be more difficult for things such as

[2019-04-10 08:38] #7 closed, assigned to vhotspur

[2019-04-10 13:13] axel22 opened #16 "Add commands for listing the benchmarks"
A user should be able to see the list of available benchmarks in the command line, using the e.g. `--list` flag.
Something along these lines:

[code]

We should also have a command that gives an easily parsible raw listing.

[2019-04-10 14:20] vhotspur opened #18 "Travis: formatting check should not run assembly"
Currently, Travis always executes `sbt assembly` even when we do style check only. `travis_terminate` with proper exit code is missing somewhere.

[2019-04-10 14:39] axel22 opened #19 "Add checkstyle rules for Java code"
SBT has a plugin called `sbt-java-formatter`, maybe we should try that out:

https://stackoverflow.com/questions/33494711/java-code-formatter-for-sbt

[2019-04-10 19:53] axel22 opened #20 "Establish a consistent way of handling the standard output across all the benchmarks"
We should ensure that all standard (output except the iteration times) goes to a separate file that can be inspected after the benchmark finishes, unless the user explicitly requests to see the benchmark output (controlled by a flag).

[2019-04-10 19:59] axel22 opened #22 "Ensure that the harness adds some sort of JSON-based output with the test results"
(in addition to the standard output of the measurement results, which could be configurable)

[2019-04-11 13:50] #6 closed, assigned to axel22

[2019-04-12 09:23] axel22 opened #27 "Decide on benchmark-specific parametrization"
Should the benchmarks have configurable sizes and parallelism levels, or other parameters?
If so, how should a benchmark implementation inform the harness about its available parameters, and how should these be passed from the harness to the benchmark?

[2019-04-16 06:18] vhotspur opened #33 "Travis: check that README is up to date"
We should automatically check that `README.md` is always kept up-to-date (i.e. running `java ... --readme` should create empty diff on a clean clone).

[2019-04-16 16:58] davleopo opened #36 "Establish a consistent way to handle class paths across all benchmarks"
This relates to https://github.com/D-iii-S/renaissance-benchmarks/issues/20
Benchmarks like e.g. dotty require a classpath, we should have a common handling for this functionality across all benchmarks.

[2019-04-17 14:45] axel22 opened #42 "No arguments should print the usage information"
Right now it's just an empty output, and nothing happens.

[2019-04-17 17:18] farquet opened #43 "Prevent non ASCII characters in Java source files"
Non english users on Mac OS will hit
[code]
if they run `sbt assembly` since a non ASCII character appears in the source code because of locale environment variables set automatically by the OS.

We could add a travis check that prevents non ascii characters in java files (scala is not a problem).
The goal being to make the process as smooth as possible for new cloners of the repo.

[2019-04-17 21:31] Fithos opened #44 "Ensure that collection processing in `renaissance-suite.scala` sorts the benchmarks alphabetically."
We should probably ensure that the collection processing in `renaissance-suite.scala` (that generates the README file) sorts the benchmarks alphabetically.

_Originally posted by @axel22 in https://github.com/D-iii-S/renaissance-benchmarks/pull/37_

[2019-04-17 23:57] axel22 opened #46 "Add automation for the website publishing"
Since we'll be publishing from the `website` directory, we will need a job that invokes `jekyll` and copies the files to `renaissance-benchmarks.github.io`.

This is not critical for the first release, since we can just manually copy the files, but we should eventually automate it.

[2019-04-18 06:13] #16 closed, assigned to vhotspur

[2019-04-18 08:10] farquet opened #49 "OutOfMemoryError : MetaSpace"
Due to the number of things loaded by sbt in the current setup, it is possible that users hit an OOM when they do :
`tools/sbt/bin/sbt 'runMain org.renaissance.RenaissanceSuite <bench_name>'`

So we should find a way to force a bigger meta space for all sbt tasks (or maybe just the assembly one which is triggered by the run task ?). This can be done with `-XX:MaxMetaspaceSize=300M` with 300M being

[2019-04-18 08:11] vhotspur opened #50 "Unable to create plugin"
Hello, I am unable to make plugins work. To me it looks like a classpath/classloader issue because of the proxies we use (since we otherwise pass things from `java.*` only it has not manifested itself yet?) but perhaps it is just a misconfiguration on my side?

[Context: I was working on JSON dump of the results but this prevented me from passing a class for storing the results to the actual bench

[2019-04-18 09:48] #44 closed, assigned to nobody

[2019-04-18 12:38] farquet opened #52 "naive-bayes and log-regression are broken"
Since PR https://github.com/D-iii-S/renaissance-benchmarks/pull/32 those two benchmarks don't work anymore because they rely on the dataset being in a zip file, but it has been removed.

[2019-04-18 15:54] #52 closed, assigned to Fithos

[2019-04-18 17:10] Fithos opened #58 "apache-spark benchmarks fail on Windows"
All the `apache-spark` benchmarks currently merged fail on Windows with the following exception:

`ERROR Shell: Failed to locate the winutils binary in the hadoop binary path
java.io.Exception: Could not locate executable null\bin\winutils.exe in the Hadoop binaries.`

A work-around to this issue is to download `winutils.exe`, put it in (e.g.) `C:\myfolder\bin`, and set the `HADOOP_PATH` environme

[2019-04-18 17:15] Fithos opened #59 "dec-tree fails on Windows"
Even with the work-around described in issue #58, `dec-tree` fails on Windows with the following exception:

`Exception occurred in org.renaissance.ProxyRenaissanceBenchmark@13cc0b90: java.net.URISyntaxException: Relative path in absolute URI: file:C:/Users/Fithos/Desktop/spark-warehouse
java.lang.IllegalArgumentException: java.net.URISyntaxException: Relative path in absolute URI: file:C:/Users/F

[2019-04-19 10:18] #49 closed, assigned to axel22

[2019-04-23 11:51] lbulej opened #63 "Provide a detailed description of each benchmark"
We should provide a detailed high-level description of each benchmark, so that a reader can get a quick understanding of what a benchmark is doing with what data. For benchmarks that we actually implement locally, there is always at least the code, but a high-level description would be nice anyway.

However, for some benchmarks, we just have a bit of Scala code that calls into a big library with s

[2019-04-23 11:53] farquet opened #64 "Project listing should be more robust"
If you are a Mac user and you browse with the Finder until the `benchmarks` directory, the OS will create an hidden directory there. While loading the project, this hidden directory will be considered as a subproject and this will crash early with something like :
[code]
While it's easy to exclude it, we should make the project listing more robust. Maybe only consider directories that contain a `b

[2019-04-23 12:31] villazon opened #66 "All spark-related benchs may fail if ports are used (spark.port.maxRetries not set)"
Sometimes, if random ports are already used, benchmarks fail (it just checks once that the port is used and aborts)
When looking at the spark console (`http://localhost:4040/environment/`), the spark.port.maxRetries configuration is not set.
The current implementation is hardcoding the configuration values (e.g. in `log-regression`)
[code]
One possible solution is to add this `spark.port.maxRetrie

[2019-04-23 12:51] vhotspur opened #68 "Travis: ensure all benchmarks are tested"
Follow-up from #65:

and

[2019-04-23 19:36] villazon opened #73 "neo4j-analytics and finagle-chirper have issues with JDK >= 9"
When running these benchs with JDK >=9 (compiled with JDK8), a `java.lang.IncompatibleClassChangeError` exceptions is thrown:

[code]

[code]

Most likely solving one, will solve the other.

[2019-04-25 17:52] #73 closed, assigned to axel22, Fithos

[2019-04-26 07:19] lbulej opened #81 "Clean up suite design and API/SPI elements (tentative)"
When looking at the changes related to the reworked class loading (#79), I realized that there are some elements of the suite design and the published SPI/API that I believe need a bit of a clean-up. When it comes to public SPI/API, I have this compulsive urge to (try to) do it right before first publishing the suite, but I do realize that I can't currently give it full attention in the remaining

[2019-04-26 07:25] vhotspur opened #82 "Document generated files in JAR"
There should be somewhere documented which files (especially the generated text files) are in the JAR and what they contain.

[Originated here](https://github.com/D-iii-S/renaissance-benchmarks/pull/79#discussion_r278522134)

[2019-04-26 09:49] #50 closed, assigned to nobody

[2019-04-28 07:32] ceresek opened #83 "Better error handling in neo4j-analytics"
When terminating neo4j-analytics by killing its threads (necessary when the harness does not have support for execution timeout), the benchmark can reach a state where the database is shut down, accesses report `org.neo4j.graphdb.DatabaseShutdownException: This database is shutdown.` but the benchmark happily reports nonsensical repetition times (from 5-6 seconds per repetition to sub ms per repet

[2019-04-29 02:32] villazon opened #87 "No "group" execution works (but is mentioned in --help)"
It is not possible to run any of the groups (`core`, `apache-spark`, `jdk-concurrent`, etc.)
[code]

The `--help` does mentions "groups"

[code]

Probably a `--group-list` option could be added to have the list of groups?

[2019-04-29 09:50] #42 closed, assigned to nobody

[2019-04-29 10:14] #59 closed, assigned to nobody

[2019-04-29 10:15] #58 closed, assigned to nobody

[2019-04-29 16:08] #87 closed, assigned to axel22

[2019-04-29 20:08] villazon opened #93 "Exit code 0, even on failure (makes travis to report success on failure)"
There is an issue with the exit code of the benchmark execution.

For example, in this travis execution executed on PR #92, there is an `OutOfMemoryError` but the exit code of the whole execution is still `0`
https://travis-ci.com/D-iii-S/renaissance-benchmarks/jobs/196297155#L611

so the test in the `.travis.yml` https://github.com/D-iii-S/renaissance-benchmarks/blob/a2323e70d76ea47b7fe8b928a9a06

[2019-04-29 21:59] #93 closed, assigned to vhotspur, axel22, farquet

[2019-04-30 05:22] #68 closed, assigned to vhotspur

[2019-04-30 05:22] #33 closed, assigned to vhotspur

[2019-04-30 05:23] #18 closed, assigned to vhotspur

[2019-04-30 06:37] villazon opened #95 ""renaissance-harness" is listed in --group-list"
wrong element in group list

[2019-04-30 07:02] vhotspur opened #96 "Minimum heap size for each benchmark"
In the [last build](https://travis-ci.com/D-iii-S/renaissance-benchmarks/jobs/196534593), `neo4j-analytics` terminated with `java.lang.OutOfMemoryError`. The amount of RAM each Travis job gets is [under 3G](https://docs.travis-ci.com/user/common-build-problems/#my-build-script-is-killed-without-any-error) so that may not be enough.

Thus we might need to exclude some benchmarks from running on Tra

[2019-04-30 09:19] #95 closed, assigned to axel22

[2019-04-30 12:43] vhotspur opened #100 "Benchmark result validation"
Each benchmark should be able to validate its results so we can detect broken runs. A proposed solution would be that `runIteration` would return object that could be later validated (i.e. the validation must occur outside the measured code).

[code]

[2019-04-30 22:48] axel22 opened #103 "Design API that denotes which releases the benchmark belongs to"
Since benchmarks may get added and removed across releases, and we still want to have a staging area of benchmarks under consideration, as well as keep the removed ones for convenience, there should be some way of denoting the releases to which a benchmark belongs.

One approach is to have something like this:

[code]

And then by default list only those benchmarks for which the current Renaissanc

[2019-05-01 07:07] ceresek opened #104 "Alex V's institution is missing from LICENSE.MIT"
Add Universidad Privada Boliviana to the copyright line ?

[2019-05-01 13:32] #104 closed, assigned to axel22

[2019-05-02 10:43] axel22 opened #106 "Possible finagle-chirper crash"
Some users reported seeing this on some machines:

[code]

[2019-05-03 06:38] ceresek opened #107 "Modify timing information in CSV/JSON output (PR #98)"
For some processing it is useful to have information on absolute time of benchmark repetitions (start + end), for example to see how much time is spent between repetitions (GC or validation), or to correlate with events reported by the VM (GC log, JIT log), which have timestamps measured since VM start. I would suggest the following modifications:

- At the start of the harness, acquire delta betw

[2019-05-07 07:26] ceresek opened #119 "Dump partial CSV/JSON output when benchmark interrupted"
The CSV/JSON output is only dumped when the benchmark runs to completion. Consider dumping on external interrupt (CTRL-C) so that results collected so far are not lost ? (Maybe also mark the run with some sort of incomplete flag or non zero exit code in JSON.)

[2019-05-07 08:00] lbulej commented on #64
Fixed in #108

[2019-05-07 08:00] #64 closed

[2019-05-07 12:27] farquet opened #120 "JMH support"
The suite should provide support for [OpenJDK JMH](https://openjdk.java.net/projects/code-tools/jmh/).

[2019-05-07 12:55] ceresek commented on #120
Could you please elaborate what such support would look like ? Making the `runIteration` method into something that JMH executes in a separate JVM instance and then collect the results, or ... ?

[2019-05-07 12:56] axel22 commented on #120
I think that we should have a separate build target in `build.sbt` that knows how to bundle a JMH-compliant JAR. There is an sbt plugin that knows how to detect JMH wrapper classes and do that. The only thing that our `build.sbt` task should be capable of doing is generating those JMH wrappers.

[2019-05-07 12:59] plokhotnyuk commented on #120
@axel22 could it be done with [sbt-jmh](https://github.com/ktoso/sbt-jmh)?

[2019-05-07 13:01] axel22 commented on #120
Yes, exactly - that's the one I was referring to! I think it should work quite well.

[2019-05-07 15:23] villazon opened #123 "Version is "?.?.?" (incorrectly reading the manifest on JDK8)"
This issue seems to be a problem in `MetaInfo.java` when reading the `"/META-INF/MANIFEST.MF"`

On macOS, with JDK 8, the version is print as `?.?.?`, whereas with JDK 9, it prints the version correctly.

When trying to print all the attributes as follows:
[code]
on JDK 8, only two attributes are printed:

[code]
and therefore reading ` mainAttributes.getValue("Renaissance-Version")` fails. Note t

[2019-05-07 15:32] vhotspur commented on #123
@villazon Would you please paste here the contents of the `MANIFEST.MF` (as found in the super JAR)? Because it seems to me that SBT does not generate it properly...

[2019-05-07 15:36] villazon commented on #123
This is the content:
[code]

Note that there is an empty line at the end.

[2019-05-07 15:37] villazon commented on #123
On linux with JDK 8, it works fine. I seems to be a problem with macOS...

[2019-05-07 16:11] villazon commented on #123
This issue seems to be similar to this bug in OpenJDK 8 https://bugs.openjdk.java.net/browse/JDK-8201636

I was able to reproduce it. I downloaded the `JI9053398.jar` file and run it:

[code]
and with JDK9, it works
[code]

It seems to be a problem to read the manifest in JDK8.

[2019-05-07 16:16] villazon commented on #123
It could be related to classloading...

https://bugs.openjdk.java.net/browse/JDK-8193522?focusedCommentId=14144614&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-14144614

[2019-05-07 16:24] villazon commented on #123
@vhotspur  I think I found the issue.  It's not reading the correct manifest.

by printing:
[code]
On JDK8, it returns:
[code]
On JDK9, it correctly returns:
[code]

[2019-05-07 19:33] #123 closed

[2019-05-07 20:16] villazon commented on #66
According to this https://stackoverflow.com/questions/44914144/error-sparkcontext-error-initializing-sparkcontext-java-net-bindexception-can/44916827
one solution is to set the the env var `SPARK_LOCAL_IP = 127.0.0.1`
The issue seems to come on hosts with several network interfaces (https://discuss.hail.is/t/how-do-i-fix-java-net-bindexception-cant-assign-requested-address/115)

On the docs https:

[2019-05-08 07:44] #96 closed

[2019-05-08 07:50] farquet commented on #11
Can this be closed ?

[2019-05-08 07:56] axel22 commented on #11
Yes, we can close.

[2019-05-08 07:56] #11 closed

[2019-05-08 07:56] farquet opened #126 "Investigate Dela Lake"
Very recently, [databricks announced](https://databricks.com/blog/2019/04/24/open-sourcing-delta-lake.html) the open sourcing of [Delta Lake](https://delta.io) which provides ACID transactions on top of Apache Spark.
It would be worth investigating if it could be an interesting benchmark to add.

[2019-05-08 10:03] farquet opened #127 "JDK 9+ support"
We should make sure that the suite works well with the the most recent JDK versions.
And the travis gate should include a JDK11 test and maybe newer if possible.

I currently see that there is an issue building the suite with JDK11 :
[code]

[2019-05-08 17:37] villazon commented on #127
I pushed PR #128 to fix this issue.
Solution is inspired from https://github.com/lampepfl/dotty/issues/5463 and https://github.com/Glavo/dotty/commit/59c49fa2d1f427c24d8c6618132bcf038f13d522

[2019-05-08 19:01] #66 closed

[2019-05-08 19:04] farquet commented on #127
Thanks ! This fixes the compilation problem, but I see issues during benchmark executions for JDK9 and JDK11. Let’s keep that issue open until we have fixed all of these and added the Travis check on JDK11.

[2019-05-09 13:50] ceresek commented on #106
The benchmark has a leaking file descriptor issue. Example exception dump:

Caused by: java.lang.reflect.InvocationTargetException
	at sun.reflect.GeneratedConstructorAccessor3.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at io.netty.channel.R

[2019-05-09 14:06] ceresek opened #131 "Spark based benchmarks fail on OpenJ9"
Not sure if this is purely OpenJ9 issue or if we are involved with e.g. packaging, but the Spark based benchmarks fail on OpenJ9, here is an example dump from chi-square:

[code]

[2019-05-09 15:11] villazon commented on #131
On which version of the JDK this occurs?

[2019-05-09 20:04] ceresek commented on #131
This was with:
[code]

[2019-05-10 06:18] ceresek commented on #106
Seen more instances of this on regular machines (e.g. measly 8 core 64GB RAM). At the time of the crash, the benchmark has quite a lot of TCP sockets open. Sometimes, this makes the benchmark hang instead of crash, complicating measurements.

[2019-05-10 07:26] ceresek commented on #106
... also see constantly increasing number of threads (right now ~300 threads at iteration 400), if it helps, most thread instances are named UnboundedFuturePool-Something.

[2019-05-10 09:30] farquet opened #132 "Website minor issues"
As pointed out on the jdk-dev mailing list, there are some minor issues on the website :

The website could be more perfect if the following issues be fixed:
 1) "target/scala-2.12" might be "target/renaissance-0.9.0.jar" on page[1] under "Building the suite".
 2) The page link[2], which was referenced in[1] under "Contributing", was not found there.

[1] https://renaissance.dev/docs
[2] https://r

[2019-05-10 10:49] axel22 commented on #106
@Fithos Can you confirm the file descriptor issue, and thread growth?

[2019-05-10 10:50] ceresek commented on #106
![finagle-chirper](https://user-images.githubusercontent.com/6158703/57522131-2ea29500-7322-11e9-953a-171e3bc06d1f.png)

[2019-05-10 10:51] ceresek commented on #106
![finagle-chirper](https://user-images.githubusercontent.com/6158703/57522192-52fe7180-7322-11e9-8ff5-c269951bb02c.png)

[2019-05-10 10:52] ceresek commented on #106
![finagle-chirper](https://user-images.githubusercontent.com/6158703/57522247-7aedd500-7322-11e9-9f7a-1be9ca16796e.png)

[2019-05-10 10:53] axel22 commented on #106
It's somewhat surprising that the thread count seems to be converging.

But, also, it drops at the very end, and the `tearDownAfterAll` is a likely reason, I think. Perhaps we should change the benchmark so that it kills the server instance completely between the iterations.

[2019-05-10 14:37] villazon commented on #132
Also, in [1] in "Running the benchmarks" section:
`java -jar '<renaissance-home>/target/renaissance-0.1.jar' <benchmarks>`
should be:
`java -jar '<renaissance-home>/target/renaissance-0.9.0.jar' <benchmarks>`
or
`java -jar '<renaissance-home>/target/renaissance-<version>.jar' <benchmarks>`

[2019-05-10 14:39] villazon commented on #132
We should also add "How to cite" and the `bibtex` entry.

[2019-05-10 14:42] axel22 commented on #132
Bibtex entry is not yet available from ACM DL, or can we already get it somewhere?

[2019-05-11 13:43] ceresek commented on #107
@lbulej I was thinking a bit about data size - the VM start thing is a constant that would be repeated after each iteration, so a bit of a waste (easily compressed of course).

[2019-05-11 18:03] vkostyukov commented on #106
Maybe it's because `master` isn't being properly closed here? https://github.com/renaissance-benchmarks/renaissance/blob/master/benchmarks/twitter-finagle/src/main/scala/org/renaissance/twitter/finagle/FinagleChirper.scala#L430-L433

I'm also not seeing when other [`master`](https://github.com/renaissance-benchmarks/renaissance/blob/master/benchmarks/twitter-finagle/src/main/scala/org/renaissance/

[2019-05-13 11:14] axel22 opened #134 "Website mobile issues"
Reported by a user:

[code]

[2019-05-13 11:25] farquet commented on #134
On my iOS device, I feel like the viewport is not very well aware of the content size of the dynamically loaded content from the MD files. This could be fixed, but I think we should consider converting the MD files to HTML at build time and serve static files without relying on this dynamic loading. If #46 is fixed, that doesn't make things more complicated to developers.

That would also solve th

[2019-05-14 00:42] axel22 commented on #134
Are you sure that dynamic loading is the problem (i.e. that the content is not doing this anyway even if statically loaded)?

It's true that if we have automation from #46, then the development process does not suffer.

Note that it still might be the easiest thing to generate the release list dynamically (for the downloads page).

[2019-05-14 00:46] axel22 commented on #106
Hi Vladimir! Thanks for the pointer!
So, essentially, this could be fixed by calling `close` on the `Service` object, correct?

[2019-05-14 01:53] vkostyukov commented on #106
That's right, @axel22. Just call `.close()` if you don't need the client anymore. Creating a single client instance and sharing it in your benchmark would be even better workload as it's essentially what traditional Finagle applications do.

[2019-05-14 11:09] lbulej commented on #63
Just to keep track of progress, #135 introduces the `@Description` annotation which should be used for this purpose. Note that the one-line summary should go to `@Summary`.

[2019-05-14 20:18] vhotspur commented on #127
Should we close it now as #129 was also merged (bc27f1b550884692358f9ae960551c22514f7541)?

[2019-05-14 20:24] axel22 commented on #127
Sounds good to me to close.
I'd still let @farquet comment because he's aware of some discussion about JDK 12 (?) problems.

[2019-05-14 21:52] farquet commented on #127
I am very surprised that it works on Travis, because locally (on MacOS) I hit an error in a static initializer on JDK11 for Spark benchmarks (everything fine on JDK8, JDK9 and JDK10).
What I hit seems to be this Hadoop bug : https://issues.apache.org/jira/browse/HADOOP-14586
Hadoop is a dependency of Spark and since we depend on an old Spark version, it doesn't include a recent enough version of H

[2019-05-15 06:28] vhotspur commented on #127
I have pushed one more commit (335820a4c46782207626b42ae489a0ca01193d68) to the `topic/travis-more-jdks` branch that also prints `$JAVA_HOME`. The build is [here](https://travis-ci.org/renaissance-benchmarks/renaissance/builds/532643660) and as far as I can tell from the output, we are running with the correct JDK.

However, we test only the default Java installation on MacOS (seems to be *Java Ho

[2019-05-15 08:52] farquet commented on #127
Thanks for the extra check.

Indeed the default `Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)` is JDK10 and works fine on my machine too.

I hit the bug with the following version :
[code]

[2019-05-15 08:56] farquet commented on #127
I think we could safely close the issue if we are confident that everything works fine at least on Linux from JDK8 up until the latest dev JDK. I see that Travis supports `ea` versions, that would be great if we could add a Travis check for JDK12 and JDK13 ea.
If everything works, I would suggest to open a distinct issue to talk about the Mac OS problem on JDK11+.

[2019-05-15 09:13] farquet opened #137 "Add sbt command to clean all class files"
I noticed that running `clean` in sbt, even followed by `cleanFiles` keeps a lot of class files around. If you are switching between JDKs, you will hit bad class file versions and you will have to remove them manually somehow.
Currently, I simply do
[code]

but that's dangerous and removes more than necessary.
We should introduce an sbt command `renaissanceClean` that properly removes those class

[2019-05-16 10:53] #119 closed

[2019-05-22 03:09] DanHeidinga commented on #131
The OpenJ9 issue (https://github.com/eclipse/openj9/issues/5726) tracking the NPEs has been resolved and the fixes are available in the nightly builds.  They should be included in the `v0.14.2` refresh for Java 8 & 11 at AdoptOpenJDK in the next week or two

[2019-05-24 16:02] Fithos opened #141 "Remove random input generation to increase determinism"
In some benchmarks, the input set is randomly generated before the first iteration using a fixed seed. While this ensures that, on the same JDK, the input set remains fixed, this assumption may not hold on different JDKs. I.e., the input set generated on JDK A may be different from the one generated on JDK B. Hence, the two workloads may differ. This is an important aspect when studying the determ

[2019-05-24 16:09] Fithos opened #142 "Remove or increase timeouts"
In some benchmarks (particularly those running on Spark), there are timeouts that trigger (e.g., causing a `TimeoutException`) if a response does not come within a given timeframe.
While the timeout won't be triggered during a normal benchmark execution, expensive dynamic analyses performing heavy instrumentation may significantly slowdown the application, triggering the timeouts. As a result, the

[2019-05-24 17:20] Fithos opened #143 "Add isFinalIteration() method in Policy"
When performing analyses, it may be useful to know when the benchmark is executing the final iteration, (e.g., to consider it a sort of "steady-state"). Currently, it seems that the `Plugin` and `Policy` classes do not offer a method such as `isFinalIteration()` to know when this is the case. It may be useful to add it.

[2019-05-24 21:41] axel22 commented on #143
It seems that for some policies it might be hard to know this - for example, how would you implement this in the fixed-time policy?

[2019-05-26 10:36] lbulej commented on #143
Could you provide an example use case?

I plan for `Policy` to basically only have 2 ethods. One to determine whether to keep executing the benchmark's measured operation/repetition and one that notifies the policy that the measured operation/repetition has completed (and how long it took). This should allow a fixed-time policy to keep track of net benchmark execution time without polluting it  wi

[2019-05-27 12:18] Fithos commented on #143
I suggested this addition because in some dynamic analyses we may want to consider all iterations apart from the last as "warm-up", avoiding to collect metrics during such iterations. Without a `isFinalMethod()`, we would need to collect metrics for all the iterations (which, depending on the analysis, may generated large traces) and then filter out metrics not collected during the last iteration.

[2019-05-27 14:56] axel22 commented on #143
@rosa-andrea Then I would propose to:

1) Have a method such as `isWarmUpIteration`, that tells you if something is a warm-up iteration or not.
2) Implement it to: in fixed-time policy to return the obvious, in fixed-iterations policy to return true for all iterations but the last.
3) If you want constant-time warmup, and one extra measurement iteration (note: fixed-time does constant time warmup

[2019-05-27 15:02] Fithos commented on #143
This solution looks good to me.

[2019-06-05 13:42] ceresek commented on #131
@DanHeidinga Thank you! I've checked the benchmarks with OpenJDK8U-jdk_x64_linux_openj9_8u212b04_openj9-0.14.2.tar.gz and the crashes are gone (note to self: OpenJ9 requires setting -Xmx above the default of 512 MB for some benchmarks).

[2019-06-05 13:42] #131 closed

[2019-06-06 14:48] farquet opened #145 "Contention on Spark benchmarks on machines with lots of CPUs"
Currently, our Spark benchmarks set the number of threads per executors to be equal to the number of available CPUs via `Runtime.getRuntime.availableProcessors`.

On machines with lots of CPUs, this value can be high (e.g. 64 or 128) and this has the consequence to create a lot of contention in the benchmark.
The ALS algorithm, used by `als` and `movie-lens` benchmarks, does a lot of data movement

[2019-06-06 15:41] axel22 commented on #145
Did you confirm this with multiple VMs?

[2019-06-06 16:04] farquet commented on #145
Yes, I see the problem on OpenJDK, AdoptOpenJDK, OracleJDK and GraalVM CE and EE. That's all the VMs I tried.

[2019-06-06 16:07] farquet commented on #145
More generally, and related to #27, I would say that we should avoid dynamic values that are based on the platform whenever possible.
In the case of number of threads per executor in Spark, that looks reasonable to me to set it to a fixed value.

[2019-06-06 17:13] axel22 commented on #145
I agree that we should tailor the default on als and movie-lens given the contention.
It does not seem to be occurring on other Spark benchmarks, though, so my vote would be to keep the CPU-based thread count there.

[2019-06-07 10:19] farquet commented on #145
Well, I think we should fix the number of threads for all Spark benchmarks and not only `als` and `movie-lens`. I notice contentions and performance degradation on all other Spark benchmarks too. It's not 25x different, but it ranges from 30% slowdown to 2x slowdown. So it creates at least little contention on all of them.

Moreover, we want this benchmark suite to be as close as possible from wha

[2019-06-07 14:57] farquet commented on #145
I'm happy to get more precise numbers for all Spark benchmarks, but independently of what the actual numbers are, **it is a bug** to set the number of threads to something so high and does not represent what an actual Spark workload looks like.

Indeed, a Spark app writer would scale the app by increasing the number of physical nodes and/or the number of executors per node, but won't go beyond 5 f

[2019-06-12 14:33] vhotspur opened #148 "finagle-http not sending enough requests"
Looking at the following code in `benchmarks/twitter-finagle/src/main/scala/org/renaissance/twitter/finagle/FinagleHttp.scala` it seems to me that `val response ...` should be moved to the inner loop as in the current setup we sent one request per client and repeatedly read its result. But the naming suggests that there should be `NUM_REQUESTS` requests sent.

Is this a bug or intentional behaviou

[2019-06-12 14:34] vhotspur opened #149 "finagle-http not parallel enough?"
Looking at the benchmark in `benchmarks/twitter-finagle/src/main/scala/org/renaissance/twitter/finagle/FinagleHttp.scala` I wonder whether the `clientThread.join()` should not be in a separate loop as outlined below? That way the benchmark would spawn multiple (parallel) clients, let them work and wait for them in the end. Or is this intentional?

[code]

[2019-06-13 10:35] MBaesken opened #150 "Spark related issue on HP-UX ia64"
When running the renaissance benchmark on HP-UX (ia64)  with a JDK8, we run into the following error message.  It might  be related to this Spark issue :
https://github.com/apache/spark/commit/e1f6845391078726f60e760f0ea68ccf81f9eca9#diff-c7483c7efce631c783676f014ba2b0ed
(seems an older  Spark version is used in the benchmark ,  that does not check for the ability of the platform  to do  unaligned

[2019-06-13 13:26] farquet opened #152 "Upgrade Spark version"
The current Spark benchmarks caused an issue to OpenJ9 ( #131 ), they limit the suite compatibility with latest JDK versions on Mac OS ( #127 ) and they crash on ia64 infrastructure ( #150 ).

Those problems increases the motivation to upgrade Spark and any other libraries present in the `apache-spark` subproject.

To avoid changing the existing benchmarks though, the best would be to create a dif

[2019-06-13 13:32] farquet commented on #150
Hi Matthias & SAPMachine team,

Thanks a lot for the bug report !
I am afraid there is no simple workaround for that issue. The best would be to upgrade Spark to a version that would work on ia64.
I am then opening issue #152 to track our effort of upgrading all Spark benchmarks.

[2019-06-13 14:39] axel22 commented on #148
Indeed, this looks like a bug. We should rewrite that part.

[2019-06-13 14:53] axel22 commented on #149
I agree - most likely, the intent was to join outside of the loop.

[2019-06-13 15:08] axel22 commented on #150
Thanks for reporting this!

Indeed, we should upgrade the Spark benchmarks.

The current approach that we are planning is to open a new subproject that depends on a different Spark version, and port the existing Spark benchmarks there. The current ones, running on the old Spark version, would be kept for archival purposes (but no longer part of the official release).
Since some of the archived ben

[2019-06-14 07:45] MBaesken opened #153 "db-shootout does not work on linux ppc64le / s390x"
It seems the  db-shootout benchmark does not work on linux ppc64le / s390x .
It contains a native lib  (leveldbjni64-1.8 ) that is not available on all CPU/HW platforms where OpenJDK is supported.
Error message (example is from linux ppc64le)
java.lang.UnsatisfiedLinkError: Could not load library. Reasons: [no leveldbjni64-1.8 in java.library.path, no leveldbjni-1.8 in java.library.path, no leveld

[2019-06-14 07:47] MBaesken commented on #153
btw. the reported issues has been seen with both JDK8 and JDK11.

[2019-06-14 08:49] farquet commented on #153
Thanks Matthias for the report.
The `leveldbjni-all` dependency is "supposed" to support all platforms, unfortunately, it doesn't seem to be the case as one can see by unzipping the jar at http://central.maven.org/maven2/org/fusesource/leveldbjni/leveldbjni-all/1.8/leveldbjni-all-1.8.jar

I see different options here :
1. Add the missing native libs to a fork of the leveldbjni-all and push it to m

[2019-06-14 08:54] axel22 commented on #153
I also think that option 4 is preferable for now.

[2019-06-14 10:40] lbulej commented on #153
At the moment, adding support for 3 would be quite far in the priority chain of design changes, so I'd support 4 as well.

[2019-06-14 13:02] axel22 commented on #120
@lbulej @vhotspur
I plan to dedicate some time into implementing this.
My plan is to add an additional subproject that is capable of producing a JMH jar. I don't think this should conflict with the API redesign (https://github.com/renaissance-benchmarks/renaissance/issues/81), but still wanted to give you a heads-up first!

[2019-06-14 14:26] axel22 commented on #153
Wouldn't the list of supported platforms for each benchmark just be a property associated with a benchmark?

[2019-06-14 17:17] lbulej commented on #120
Fine with me, let's see how that goes.

[2019-06-15 07:56] #145 closed

[2019-06-15 15:57] axel22 opened #155 "Add Config parsing in the JMH build"
Currently, it is not possible to pass Renaissance-specific command-line options to the **JMH-enabled build** of Renaissance, but only JMH-specific options.
For most current options, this does not make sense anyway, since current Renaissance options control how the harness executes the benchmark or select the benchmarks, which must be left to JMH anyway in the JMH-enabled build. The only current ex

[2019-06-15 15:58] axel22 commented on #120
Closed with: https://github.com/renaissance-benchmarks/renaissance/pull/154

[2019-06-15 15:58] #120 closed

[2019-06-16 09:16] farquet commented on #153
Yes, that would be just a property, but if we can slightly change the problematic benchmark(s) to work on most platforms, that’s one less dimension to care about.

I will tackle the implementation of 4 by measuring the performance difference on several VMs.

[2019-06-17 12:35] #100 closed

[2019-06-18 16:35] axel22 opened #158 "Emit default repetition counts into JMH annotations"
The generated benchmark wrappers should include the `@Warmup(iterations = X)` annotations, where `X` is set to the defaults of a particular benchmark.

[2019-06-18 17:22] axel22 commented on #158
https://github.com/renaissance-benchmarks/renaissance/pull/160

[2019-06-19 06:53] vhotspur opened #161 "Lost request in finagle-http"
As mentioned in #100, `finagle-http` sometimes fails validation because one request is missed (it is exactly one request as the validation computes sum of total content lengths and it differs by length of one request).

Note that no exception is thrown, nothing is printed to stderr etc., just one request is gone (or there is some race condition in the validation code).

[2019-06-19 12:49] vhotspur opened #162 "Validation failure not stored in JSON/CSV"
When a benchmark (validation) fails, the JSON output is shorter (than in successful run) but the failure is not logged there. One has to inspect stdout for that information.

This information should be part of the JSON somehow (we already have `environment.vm.termination` field there).

Storing this inside CSV could be tricky, though.

[2019-06-19 13:19] farquet commented on #162
what about error reporting when using the JMH harness ?

[2019-06-24 20:14] albertnetymk opened #163 "db-shootout crashes with jdk-12"
Downloaded `jdk-12.0.1+12` from https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot#x64_linux and renaissance jar from the release page.

Encountered the following crash with `java -jar renaissance-mit-0.9.0.jar -r 1 db-shootout`:

[code]
PS: JDK11 doesn't crash, though. It's not super clear to me if this is related to #153.

[2019-06-25 17:20] tkrodriguez opened #164 "incorrect locking in FinagleChirper Cache"
We'd been seeing frequency hangs in finagle-chirper and investigation indicated that the Cache HashMap was getting corrupted with DefaultEntry buckets have a next pointer which points at itself.  The [cache update](https://github.com/d-iii-s/renaissance-benchmarks/blob/master/benchmarks/twitter-finagle/src/main/scala/org/renaissance/twitter/finagle/FinagleChirper.scala#L247) is syntactically with

[2019-06-26 06:17] farquet commented on #164
Thanks @tkrodriguez for the investigation !
I think synchronizing only the `count` increment and changing `val cache = new mutable.HashMap[String, Buf]` into `val cache = new concurrent.TrieMap[String, Buf]` should work since [1] :
[code]

I'll wait for @axel22 to comment though since some Prokopec guy seems to be behind the `concurrent.TrieMap` scala library. [2] ;)

[1] https://www.scala-lang.or

[2019-06-26 06:37] farquet commented on #163
Thanks @albertnetymk for the report. I don't think it's related to #153, it looks more like a JDK compatibility issue ( #127 ).

[2019-06-26 10:57] #148 closed

[2019-06-26 10:57] #149 closed

[2019-06-26 10:57] #161 closed

[2019-06-26 18:43] tkrodriguez commented on #164
Maybe twitter has already fixed this issue in their version of the code?   It might be nice to be in sync with them though I don't think it matters much here.  Using a concurrent data structure instead of a synchronized one might affect throughput though.

[2019-06-27 08:33] farquet commented on #164
Well, the hashmap being corrupt by this missing lock is in our benchmark code, not in Finagle's. What kind of fix would you expect on the Finagle side ?
I don't think a data structure change would change the behavior significantly since the hot code is probably somewhere else, but it might hit throughput a bit indeed (which is not a problem IMO). But keeping the hashmap with a proper lock is also

[2019-06-27 16:44] tkrodriguez commented on #164
Ok.  i wasn't clear where the boundary between our code and their code was.  Since it's our harness code then we can do whatever we want.  From that perspective a lock free implementation might be best but I don't have strong opinions otherwise.

[2019-06-28 13:53] axel22 commented on #164
Thanks for the catch and the great analysis.
This is a frequent error with future-related code that interacts with actors or services.
The code within the `for` expression is a callback handler for the future, and it will indeed not serialize with the code belonging to the service.
This is a generally lacking aspect of most future implementations - they don't integrate well with other sources of c

[2019-06-28 16:22] axel22 opened #165 "Core JAR included multiple times"
Reported by @tkrodriguez : we have some of the dependencies JARs multiplied across different subprojects. This inflates the final JAR size a bit, but I think it's not an immediate cause for alarm.

[code]

Long-term, we should probably implement some sort of compression for JAR duplicates.

A more immediate action might be to figure out why we duplicate the `renaissance-core` library across projec

[2019-06-28 21:42] #158 closed

[2019-06-28 22:22] axel22 opened #167 "Failures in the oraclejdk11 installer"
https://travis-ci.org/renaissance-benchmarks/renaissance/jobs/551964076

[code]

[2019-07-01 06:55] vhotspur commented on #167
I was hoping it will get fixed automagically but it is (again) no longer possible to download the JDK in headless manner :-(. Will probably need to drop support for this JDK altogether or rewrite configuration to use the JDK switcher manually.

See [this thread](https://travis-ci.community/t/cannot-install-oracle-jdk-11/3892) and also [this one](https://travis-ci.community/t/install-of-oraclejdk11

[2019-07-01 08:38] gilles-duboscq commented on #167
You can probably switch to using `openjdk11` instead of `oraclejdk11`

[2019-07-02 09:17] #167 closed

[2019-07-02 15:22] #164 closed

[2019-07-03 06:56] farquet commented on #153
@MBaesken, the benchmark has been fixed to remove the native dependency.
Please give it a try and reopen the issue if there are remaining problems.

You can build a jar from master, or wait for the 0.10.0 release which will come very soon.

[2019-07-05 12:03] MBaesken commented on #153
When testing the latest renaissance-mit-0.10.0.jar db-shootout  I still run into issues with native libs that are not found .

AIX :

/rs6000_64/nightly/output-jdk8/images/j2sdk-image/bin/java  -jar /benchmarks/renaissance/renaissance-mit-0.10.0.jar db-shootout
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See

[2019-07-05 12:14] axel22 commented on #153
I think we should maybe think about including the [Apache Ignite](https://github.com/apache/ignite) database in this benchmark instead.

[2019-07-05 12:23] albertnetymk commented on #106
Quoting from #168, "However, I hit #106 a lot locally on my MacBook. So this issue was apparently not fully resolved (cc @Fithos )."

So, the issue is still there, and should be reopened?

[2019-07-09 09:28] farquet commented on #153
Thanks @MBaesken for the testing. This is where the native library is loaded in Chronicle code : https://github.com/OpenHFT/Chronicle-Map/blob/master/src/main/java/net/openhft/chronicle/hash/impl/util/jna/PosixMsync.java#L28

I'll investigate how much it take to replace `Chronicle` by `Ignite`.

[2019-07-09 14:21] albertnetymk opened #175 "large variance in exec time for scala-doku"
The following are two separate runs of `java -jar renaissance-mit-0.10.0.jar scala-doku`. It seems that for `run B`,  JIT made a wrong turn in the second iteration, and never managed to get back on track.

## run A
[code]
## run B
[code]
## ENV:
openjdk 12.0.1 2019-04-16
Debian GNU/Linux 10 (buster)
2 core (2 hyperthreading/core)
Mem: 11G

[2019-07-09 14:51] davleopo commented on #175
Hi @albertnetymk ,

thanks for sharing your results.
It is interesting to see that on your machine you encounter bi-modal performance for this benchmark.

I did not witness this behavior when adding the benchmark originally ( https://github.com/renaissance-benchmarks/renaissance/pull/173) , on my machine.
As you suggested this may be related to a sub-optimal decision made by the JIT compiler.
If i

[2019-07-09 15:34] albertnetymk commented on #175
Listing the final iteration exec time for 14 consecutive invocations of `java -jar renaissance-mit-0.10.0.jar scala-doku`:

[code]

The JVM flags used (by default) are made explicit via `-XX:+PrintCommandLineFlags`, and they are: `-XX:G1ConcRefinementThreads=4 -XX:GCDrainStackTargetSize=64 -XX:InitialHeapSize=194809728 -XX:MaxHeapSize=3116955648 -XX:+PrintCommandLineFlags -XX:ReservedCodeCacheSize

[2019-07-10 11:07] vhotspur opened #176 "dotty benchmark fails on Windows"
Running `dotty` benchmark on Windows results in the following failure (see [also here](https://ci.appveyor.com/project/vhotspur/renaissance/builds/25722034#L694) a build from AppVeyor (PR #139)):

[code]

For context, we run the compiler with the following arguments:

[code]

The culprit seems to be that in the end we pass list of URLs that are preceded by `file:/` that the Windows part of FS abst

[2019-07-10 11:13] farquet commented on #176
That would be great if  @smarter , who is involved in Dotty development could shed some light on the classloading questions.

[2019-07-10 12:46] vhotspur commented on #22
Closing as the core functionality was already merged and new functions were already handled through separate issues (e.g. #107, #162).

[2019-07-10 12:46] #22 closed

[2019-07-10 14:06] smarter commented on #176
Yes, if you just need to expose the JVM classpath to the compiler, you can pass the flag `-usejavacp` to the compiler (so here that would mean replacing the first two elements of args by `"-usejavacp"`).

[2019-07-11 07:49] #43 closed

[2019-07-12 09:30] #162 closed

[2019-07-15 13:57] vhotspur commented on #176
Thanks for the suggestion, @smarter. It was the pointer I needed but I found that this switch means Dotty would look into the top-most classloader (use path from `java.class.path`) which is, unfortunately, not the best solution for us. We do not want to pollute from individual benchmarks the main classpath.

So in the end I converted the URLs to local paths in PR #183.

[2019-07-15 15:20] roookeee commented on #175
Running the benchmarks with anything but a fixed cpu speed isn't great, running it on a laptop that throttles aggressively which probably uses and Intel CPU which has it's max turbo boost timebound (instead of temperature) is worse - please redo it on a properly cooled desktop pc and if possible with a fixed frequency that doesn't cause throttling

[2019-07-15 15:27] roookeee opened #184 "Consider adding an object mapper benchmark"
See [here](https://github.com/arey/java-object-mapper-benchmark). Object mapping is used very frequently and some object mappers rely heavily on reflection, some use code generation and other other make use of heavy lambda chaining (functional programming).

With such a broad set of libraries seeing different JVMs output different results could be very interesting :)

[2019-07-15 15:59] axel22 opened #185 "Use SingleShotTime in JMH wrappers"
http://javadox.com/org.openjdk.jmh/jmh-core/0.8/org/openjdk/jmh/annotations/Mode.html

This would be better than using the 1 ms default time, which is currently being emitted.

[2019-07-15 20:03] ericcaspole opened #186 "JMH version doesnt build some time after rev e895d544ee7ddbd14caf975072fd51717224b509"
Building the JMH version today gives an error:
[code]

@tkrodriguez mentioned he also sees this error while building.
Thanks,
Eric

[2019-07-15 20:05] farquet commented on #186
Thanks @ericcaspole for the report.
To avoid this to break again, we should add a Travis check that bundles the jmh jar and runs at least one iteration of one benchmark.

[2019-07-15 20:07] axel22 commented on #186
Odd, we added a full JMH build to the CI, which also runs all the benchmarks. We should check what went wrong (on the plane atm).

[2019-07-15 20:09] farquet commented on #186
@vhotspur could you look into it ? It may be related to the extra dummy benchmarks.

[2019-07-15 23:42] axel22 commented on #186
JMH build seemed to have passed in the CI:

https://travis-ci.org/renaissance-benchmarks/renaissance/jobs/558938074#L537

[2019-07-16 03:33] tkrodriguez commented on #186
I think this is a problem with the clean build target not cleaning up everything.  If I purge my files using `git clean -dxf .` then my build works.  Looking at the files that were left behind, It seems like the clean target doesn't clean up renaissance-jmh.  It appears you have to do both clean and renaissanceJmh/jmh:clean to actually clean up after renaissanceJmh/jmh:assembly, which I guess make

[2019-07-16 07:28] vhotspur commented on #186
I am unable to reproduce this on a clean clone. From the error message I suspect this is because the `clean` target does not really clean everything (#137) and there was a file rename after e895d544ee7ddbd14caf975072fd51717224b509. So I think that SBT had a class file from previous run without a source file and still tried to recompile it?

As far as I can see, the only solution is to properly set

[2019-07-16 09:49] vhotspur commented on #137
I found this [old issue in SBT tracker](https://github.com/sbt/sbt/issues/896#issuecomment-25752887) where it seems that it is actually not an issue at all ;-)

[2019-07-16 09:51] #176 closed

[2019-07-18 13:18] ceresek opened #187 "Leak in movie-lens"
When executing, movie-lens disk usage grows continuously (on my machine at around 1GB per hour). This is not exactly terrible but in some situations may lead to disk full exceptions in long executions.

Filled for 47fd9ce8028ebb12f62fe18d5ea3c30f61faacee.

[2019-07-18 15:08] axel22 commented on #187
I think that @vext01 mentioned that he noticed something similar on `movie-lens` - I let him confirm.

[2019-07-18 21:31] vext01 commented on #187
We ran out of memory, not disk:

[code]

(Note that's our benchmark runner wrapping your benchmark, hence the `INFO` stuff).

That's running with 2000 iterations with `-Xms12G -Xmx12G` and then a 18GiB heap ulimit.

I'm guessing you have a memory leak?

[2019-07-19 06:59] ceresek commented on #187
Although my runs used similar heap settings, I was executing with somewhat restricted storage space so hit the IOException first (around 250ish iteration). Could well be the memory leak is there too.

[2019-07-22 10:16] ceresek commented on #187
Also, the repetition time is gradually increasing.

![samples-scatter-movie-lens](https://user-images.githubusercontent.com/6158703/61625090-382d6f00-ac7a-11e9-9bd5-84da0b39f7c0.png)

[2019-07-22 13:34] vext01 opened #188 "finagle-chirper crashes if a network interface is not up."
Hi,

I promised @axel22 that I'd file information about this crash.

Our benchmark runner disables the network cards of the system to avoid network traffic interrupts from interfering with benchmark measurements.

Here is a log from our runner showing finagle-chirper crashing if there is no upped interface:
[code]

Thanks

[2019-07-22 13:51] vext01 opened #189 "page-rank emits network errors on teardown if the network card is disabled."
Here's a log from running the benchmark under our runner:
[code]

At first I thought `127.0.1.1` (not `127.0.0.1`) was a bug, but apparently that's an alias for loopback:
https://serverfault.com/questions/363095/why-does-my-hostname-appear-with-the-address-127-0-1-1-rather-than-127-0-0-1-in

[2019-07-22 13:54] vext01 commented on #187
I also spotted:
[code]

[2019-07-24 14:40] vhotspur commented on #188
Looking at the error messages, this seems to indicate that loopback interface was down. Is that so or the message is misleading in this sense? Because if loopback was really down (together with normal interfaces), I believe this benchmark will not be able to function properly as it internally starts a web server listening on first available interface...

[2019-07-24 15:41] vext01 commented on #188
I used `ifdown -a` on a Debian 9 system, which claims to take down `auto` interfaces listed under `/etc/network/interfaces`.

I've just experimented. On a machine with the following `/etc/network/interfaces` file:
[code]

Before `ifdown -a` I can ping loopback, after I cannot!

I'm surprised that there is the option to down the loopback interface! When would you want that! :P

Closing, as clearly

[2019-07-24 15:41] #188 closed

[2019-07-24 15:45] vext01 commented on #189
This likely has the same conclusion as #188, closing.

[2019-07-24 15:45] #189 closed

[2019-07-29 18:22] anonymousemberxxx opened #190 "Dependencies Source Code"
Hi, I want to ask how to obtain the scala dependencies source code. So far we only have the jar files. Thank you!

[2019-07-29 20:07] axel22 commented on #190
I think that it should be possible to add an SBT build task that packages the sources of all the dependencies as well.

[2019-07-29 20:16] anonymousemberxxx commented on #190
After checked the sbt manual, I added "withSources()" to the dependency definition in libraryDependencies in build.sbt. And then I have tried the commands sbt updateClassifiers & sbt updateSbtClassifiers to download the source code. However, this way didn't work. Any help is much appreciated!

[2019-08-08 20:51] lbulej commented on #143
Support added in #191.

[2019-08-08 20:51] #143 closed

[2019-08-08 21:09] lbulej commented on #81
Many of the design issues discussed here were taken care of/made obsolete by #191.
- Harness configuration was disentangled from benchmark execution.
- The main API/SPI elements present in `org.renaissance` are `Benchmark` (with annotation inner classes), `BenchmarkResult` (with a few helper methods in `.Validators` and `.Assert` inner classes), and `BenchmarkContext`. All of them are interfaces,

[2019-08-08 21:09] #81 closed

[2019-08-08 21:11] lbulej commented on #155
Do we still need this, or can this be solved by using the `jmh` configurations?

[2019-08-08 22:12] axel22 commented on #155
I guess we only need this if we plan to support plugins.
But since the `jmh` configuration solves this use-case, I think we can close this.

[2019-08-09 11:14] lbulej commented on #155
OK, I'll close this particular case as solved by #191 and let's see if a specific use-case pops.

[2019-08-09 11:14] #155 closed

[2019-08-09 15:23] axel22 opened #192 "Warning messages sometimes wrap together with the iteration line"
Suggestion is to pack the warning message into single line.

[code]

[2019-08-13 09:12] farquet opened #193 "Force GC between iterations"
The harness should force GC between iterations by default and provide an option to disable that feature.

[2019-08-22 15:16] vhotspur opened #194 "Specify plugin class inside plugin JAR"
When creating and using a plugin, it is added to the command-line via

[code]

which can get quite long to type (and shell offers no completion for the classname). Furthermore, the exclamation mark has a special meaning inside shell when not escaped.

We should either abuse `Main-Class` to store the main class of the plugin or add some other field to `MANIFEST.MF` inside the plugin JAR that could

[2019-08-23 08:53] lbulej commented on #194
I think that we could agree on looking for `Renaissance-Plugin` attribute in the JAR manifests when the plugin specifier does not contain any `!`. I would avoid abusing `Main-Class`.

Even though we (me and @vhotspur ) have previously discussed the option of having some plugins packaged with the harness (and activating them just by using the class name, also without `!`), I think that it is not re

[2019-08-31 13:51] lbulej opened #199 "Benchmark failure under JMH harness does not fail the build in Travis"
See the [output](https://travis-ci.org/renaissance-benchmarks/renaissance/jobs/578840659) of job #357.10 where the benchmark fails on line [246](https://travis-ci.org/renaissance-benchmarks/renaissance/jobs/578840659#L246), but is still considered success on line [277](https://travis-ci.org/renaissance-benchmarks/renaissance/jobs/578840659#L277).

[2019-09-02 12:53] vhotspur commented on #199
PR #200 should fix that.

[2019-09-03 07:19] lbulej commented on #199
It indeed does, thanks!

[2019-09-03 07:19] #199 closed

[2019-09-16 07:48] #185 closed

[2019-09-16 12:18] Theodor commented on #175
I do see this kind of bimodal behavior for 'scala-doku' on dedicated bare-metal performance machines (with all kinds of possible preparation done).
On a variety of JITs it shows "stably bi-modal" behavior, dropping into bad score on 1-2 iteration.
Have not yet investigated the exact compilation that causes that though ...

[2019-09-17 15:59] axel22 opened #202 "Philosophers - clusters in iteration execution time"
Here are some warmup curves related to the `philosophers` benchmark:

![screenshot-17-51-16](https://user-images.githubusercontent.com/151774/65058342-670f4b00-d974-11e9-9e6c-9a6a413ed15f.png)

We should potentially investigate reasons for this - which might be that the `CameraThread` is doing a different number of iterations depending on the timing.

[2019-09-17 16:02] axel22 commented on #202
cc @ceresek

[2019-09-19 20:34] Theodor commented on #202
I wonder what amount of threads (==philosophers) are these graphs for?

[2019-09-20 07:06] ceresek commented on #202
This was measured on Xeon E5-2620 v4 with hyperthreading turned off, so the JVM saw 8 processors, which is the default philosopher count for the benchmark.

[2019-09-20 07:07] ceresek opened #203 "Autodetected benchmark parameters should be reported in output"
When a benchmark autodetects a parameter (such as thread_count=$cpu.count), the actual value used should be reported in the benchmark output.

[2019-09-20 09:00] lbulej commented on #203
Do you mean the textual output, or the JSON output file?

I was already thinking about making it possible for the writer to dump the actual configuration of a benchmark. The reason why I haven't done that yet is that I will need to change the plugin API to provide access to this information.

It would be easy to just expose the BenchmarkInfo object in the event notification, but to make it smooth,

[2019-09-20 09:16] axel22 commented on #203
Perhaps we could additionally add a -v flag to enable verbose output that shows information such as this on stdout.

[2019-09-20 11:48] ceresek commented on #203
For me the JSON output makes most sense, because that will document how the measurements were obtained, but I can imagine other use cases where one would want to see the value of the options on a console without executing the workload.

[2019-09-20 11:51] axel22 commented on #203
JSON sounds good to me then.

[2019-09-23 06:40] farquet commented on #203
Adding it to JSON is good.
But I would also add it to stdout by default at the very beginning of the execution. That's very little output and can be helpful to quickly identify differences between runs by grepping through stdouts.

Other suites do that (here dacapo) :
[code]

[2019-10-24 05:57] feng-qi opened #206 "Built on tag v0.10.0 get renaissance-gpl-0.9.0.jar/renaissance-jmh-assembly-0.9.0.jar ?"
I cloned this repo and check out tag `v0.10.0`. After the commands `tools/sbt/bin/sbt assembly` and `tools/sbt/bin/sbt renaissanceJmh/jmh:assembly`, I get `renaissance-gpl-0.9.0.jar` / `renaissance-jmh-assembly-0.9.0.jar`.

Shouldn't I get `renaissance-gpl-0.10.0.jar`/`renaissance-jmh-assembly-0.10.0.jar`?

[2019-10-24 11:51] farquet commented on #206
The tag was pointing to a commit before the version string bump, so you are actually running `0.10.0` but it is misnamed.

I've just updated the tag, so this should be fixed now.

Thanks @feng-qi for the report !

[2019-10-24 11:51] #206 closed

[2019-11-07 17:31] lemmy opened #207 "Add benchmarks for the explicit-state model checker TLC"
The model checker (https://github.com/tlaplus/tlaplus) is optimized for throughput and has a single hot path.  I can come up with benchmarks for a) scalability and b) throughput. One is a spec where evaluation of the next-state relation is cheap, the other has a costly next-state relation. Adjusting specs to the available hardware is just a matter or choosing a few parameters.  Benchmarks can be d

[2019-11-08 09:59] farquet commented on #207
Thanks @lemmy for the suggestion !
A TLA+ benchmark would definitely fit very well in the spirit of the Renaissance suite. Would those benchmarks need to be written or do they already belong to https://github.com/tlaplus/Examples ?
I also see that everything is MIT licensed, so that's perfect.

One constraint we have for a new benchmark is to always deterministically compute the same thing. So we

[2019-11-08 17:29] axel22 commented on #207
Thanks for the suggestion - this looks like an interesting workload.
To add to what Francois said, there is a benchmark subfolder `benchmarks/dummy` that is a minimal example of how to add a new benchmark group - if you would like to go ahead and add a TLC benchmark, that's a good template to start from.

[2019-11-15 00:55] lemmy commented on #207
Is there an example that shows how to add a benchmark that comes as a self-contained jar file?

[2019-11-15 01:12] farquet commented on #207
All jar dependencies we have come from maven central and they are defined in the `build.sbt` of each project. [Here](https://github.com/renaissance-benchmarks/renaissance/blob/master/benchmarks/twitter-finagle/build.sbt#L10-L19) is an example.

Wouldn't it be possible to have the required dependencies there and the thin benchmark layer as sources here ?

[2019-11-15 01:15] lemmy commented on #207
That could be done but the jar would be tailored to the benchmark.  Not sure we want to "pollute" maven central with such a jar. By the way, the jar can be pack200ed to a few hundred kbs.

[2019-11-15 01:25] farquet commented on #207
I see. And how about the second option ?
Having the benchmark definition here has advantages like easier source code exploration, being able to adapt the workload size, etc. Could that be possible ?

If it's a matter of the work that has to be done to turn the sample application into a benchmark, we could do that part.

[2019-11-15 01:34] lemmy commented on #207
It is probably best to ditch the idea of a self-contained jar and instead use the [vanilla jar](https://oss.sonatype.org/content/repositories/snapshots/org/lamport/tla2tools/) from maven central and check the specs (input) into this repository.  Is the benchmark layer going to fork a VM?

[2019-11-15 01:42] axel22 commented on #207
By default, the harness does not fork a new VM.
The optional JMH-compliant build, however, uses JMH as the harness, which does fork a new VM.

[2019-11-15 01:46] farquet commented on #207
That would be great indeed. It matches how the other benchmarks are built. For instance, we have several benchmarks that include any kind of input in a `resources` folder like [here](https://github.com/renaissance-benchmarks/renaissance/tree/master/benchmarks/rx/src/main/resources).

Alternatively, if the input is small it can also be inlined into the benchmark definition.

[2019-11-15 17:42] lemmy commented on #207
Two questions:

- How do you make sbt consume maven snapshot dependencies?
- What the meaning of  *optional* JMH-compliant build?  TLC fails if we check two different specs with a single VM instance (VM has to be fresh).

[2019-11-15 22:04] farquet commented on #207
You can use the `-SNAPSHOT` suffix just like in a pom file. So you can add something like this to your `build.sbt` :
[code]
`changing()` forces the re-download in case you push an updated version.

It would be good to keep that for dev only though to avoid potentially changing dependencies in the future.

We have users who prefer using JMH buils for convenience because they have tools to run such

[2019-11-15 23:53] axel22 commented on #207
In addition to what Francois said: you should be aware that the Renaissance harness will call the `run` method of the benchmark (i.e. the entry point into your workload) multiple times. The reason for this is that the harness first tries a couple of warmup runs, and then does several runs with measurements.
This means that if you should make sure that there is no global state on which the run depe

[2019-11-16 00:29] lemmy commented on #207
@axel22 If that's a strict requirement, then I don't see a way to move forward.  I don't have the bandwidth to change TLC to support warmup runs (I once hacked something based on OSGi).  Initially, I assumed renaissance would accept a macro-benchmark that runs for a few minutes and thus needs no warmups.  For this type of benchmark, TLC suits very well..

[2019-11-16 01:57] axel22 commented on #207
@lemmy It's still possible to have single runs, but it would require setting the default number of repetitions to `1` in the benchmark definition.
I think it is still useful to contribute such a benchmark - we could keep in the staging area, as that would allow others to run it and analyze it, and maybe even invest into adding multiple-runs-per-process ability to TLC later.

[2019-11-25 23:27] lemmy commented on #207
https://github.com/tlaplus/tlaplus/tree/master/general/performance/Grid5k would be the spec that easily simulates two workloads: scalability and computation.

[2019-11-27 10:06] #193 closed

[2019-11-30 17:34] dcominottim opened #208 "dotty and finagle-chirper tests fail using Oracle JDK 8u231 on W10 Pro 1909"
![Screenshot (297)](https://user-images.githubusercontent.com/4914233/69903910-8e27c700-137e-11ea-970c-49a5b2046dfb.png)
![Screenshot (298)](https://user-images.githubusercontent.com/4914233/69903912-8e27c700-137e-11ea-84cc-1ea6a4434a74.png)
![Screenshot (299)](https://user-images.githubusercontent.com/4914233/69903913-8ec05d80-137e-11ea-8605-2d5ce10ff26f.png)

[2019-11-30 23:32] axel22 commented on #208
Thanks for reporting!
It seems that these are problems with the path names on Windows.

[2019-12-01 12:21] dcominottim opened #209 "movie-lens test fails on graalvm-ce-java11-19.3.0 and W10 Pro 1909 after mnemonics (jdk-streams) when all tests are executed"
Note: It doesn't happen when movie-lens is executed alone.

![Screenshot (321)](https://user-images.githubusercontent.com/4914233/69913824-dcd76e80-141b-11ea-917f-8d1927d3cf65.png)
![Screenshot (320)](https://user-images.githubusercontent.com/4914233/69913828-e19c2280-141b-11ea-8dea-dcdb77a55768.png)

[2019-12-01 13:41] dcominottim commented on #208
Thanks! `dotty` seems to run fine with the latest code from `master` but `finagle-chirper` is still giving the same error.

[2019-12-06 19:30] piyush286 opened #210 "db-shootout fails on ppc64_aix & ppc64le_linux"
### Problem Description

Getting the following errors while running `db-shootout` on Power. I've just tried ppc64_aix & ppc64le_linux platforms on Power. I haven't tested other power platforms, but I believe they should fail as well. The benchmark works fine on other platforms that I've tested such as zLinux, xLinux and Windows.

It fails with both HotSpot and OpenJ9.

### Errors

[code]

### To P

[2019-12-06 19:46] piyush286 opened #211 "finagle-chirper fails on x86-64 Windows"
### Problem Description

Getting the following errors while running `finagle-chirper` on Windows. The benchmark works fine on other platforms that I've tested such as zLinux, xLinux and Power.

It fails with both OpenJ9 and HotSpot.

### Errors

[code]

### To Reproduce
- Direct command to run the benchmark
OR
1. Add (or enable if it already exists) the target(s) in the Renaissance playlist (https

[2019-12-10 13:10] farquet commented on #210
Thanks @piyush286 for the report !
This issue has already been reported at #153. So I'll close this issue as a duplicate. There is an agreement there to remove the `LevelDB` dependency completely (which contains native dependencies but not for all platforms).

[2019-12-10 13:10] #210 closed

[2019-12-10 13:17] farquet commented on #208
This issue has also been reported in #211. Since the error is easier to read there, let's close this issue and follow the progress in #211.

[2019-12-10 13:17] #208 closed

[2019-12-10 19:50] piyush286 commented on #210
I notice #153 occurs on zLinux besides pLinux, but I could run this benchmark successfully on zLinux. Not sure if that's an intermittent issue.

[2020-01-29 23:49] RobertHenry6bev opened #219 "Does not build out of the box"
I'm on ubuntu 19.10, using OpenJDK Runtime Environment (build 14-ea+18-Ubuntu-1)

Running tools/sbt/bin/sbt assembly per renaissance instructions downloads sbt 1.2.8.  After a while, there's an uncaught exception
error: error while loading String, class file '/modules/java.base/java/lang/String.class' is broken
(class java.lang.NullPointerException/null)
.......
[error] Caused by: java.lang.Runtim

[2020-01-30 04:32] vhotspur commented on #219
Hello, thanks for the report. We are aware of this issue a bit (e.g. #213) but we have not yet prepared a fix.

BTW, simple updating SBT did not work for me as it broke other dependencies (we use 4 different Scala versions across the suite which does not simplify things).

[2020-02-04 09:06] ceresek opened #220 "Inclusion of dummy benchmarks in list complicates scripting"
The `--raw-list` option would be great for scripting the usual "run all benchmarks" task, but it also includes the `dummy` group of benchmarks, which the script has to filter afterwards. Having an option to list the benchmarks without the artificial ones that are not meant for use would be useful.

[2020-02-04 10:42] axel22 commented on #220
Maybe benchmarks should have a `dummy` status that allows `--raw-list` to filter them out.

[2020-02-04 13:08] vhotspur commented on #107
@ceresek Seems to me that this was fixed via #216 and #218. Can we close this?

[2020-02-04 13:10] vhotspur commented on #27
Implemented via #191.

[2020-02-04 13:10] #27 closed

[2020-02-04 13:13] #107 closed

[2020-02-06 07:53] #211 closed

[2020-02-10 08:17] lbulej commented on #220
We already do some kind of filtering when you specify the `all` group to run all benchmarks -- this excludes benchmarks in the `dummy` group. Since we are already filtering based on the name, we can extend this (group-name-based) filtering to the `--list` and `--raw-list` commands, without adding another benchmark annotation.

So the question is, are we fine with the `dummy` group being special-ha

[2020-02-10 10:43] farquet commented on #220
I agree. Let's keep it simple.

[2020-02-12 15:03] stefanodoni opened #223 "No way to filter warmup iterations in CSV output"
Hi,

Thanks a lot for this great suite!

I like very much the warmup capability you included, it's very handy. However, when reporting results to CSV, all iterations are shown and there's no way to figure out the warmup ones to exclude them.

$ time java -jar renaissance-gpl-0.9.0.jar --policy fixed-warmup -w 5 -t 10 --csv scrabble-results.csv scrabble
====== scrabble (jdk-streams), warmup iterati

[2020-02-12 15:38] ceresek commented on #223
Hi Stefano,

actually, we've removed the fixed warmup policy, fearing it might be misleading. What exactly are you after - do you just need to label a certain number of initial iterations, or are you after some actual warmup detection ?

Petr

[2020-02-12 19:13] stefanodoni commented on #223
Hi Petr,

Thanks for the quick answer.

I'm looking for a way to measure renaissance benchmarks under various conditions. I need a way to measure the benchmark metric (i.e. duration) when the JVM has stabilized so that it's repeatable.

Automatic detection of warmup I guess would be the ultimate feature, however, I feel it's not easy to do due to JVM behavior.

The simplest option would be to play

[2020-02-18 08:13] farquet commented on #83
Fixed in #224.

[2020-02-18 08:13] #83 closed

[2020-02-23 15:09] ceresek commented on #223
Hi Stefano,

starting with 0785c1e179445ccc72cb00f85e99f33d025f0b85 (actually a bit earlier but there were fixes later), the output contains the `uptime_ns` field, which should give an accurate time from the start of the JVM to the start of the given repetition. This field can be used to drop results from repetitions before whatever warmup limit you choose. This may be a bit more practical than a

[2020-04-14 07:12] farquet opened #226 "log-regression benchmark doesn't cache its RDD"
All Spark benchmarks are structured the same way and start by loading data from files, then transform it in an RDD and then run the benchmark on the cached RDD.
However, the `log-regression` benchmark doesn't cache its RDD, recomputing it during the iteration of the benchmarks. This is an inconsistency and a problem we have to fix.

Credit goes to @tkrodriguez for spotting the issue.

[code]

[2020-04-14 07:47] lbulej opened #227 "movie-lens reloads data in each repetition (and does not cache some RRDs)"
I was checking other Spark-based in response to #226 to make sure they all cache their RRDs, and when I got to movie lens `movie-lens` and I found the following:

There are 5 RDDs (`ratings`, `personalRatingsRDD`, `training`, `validation`, and `test`), and we only call `cache()` on those assigned to `training`, `validation`, `test` in the `splitRatings()` method, which makes use of the `personalRa

[2020-04-14 07:48] lbulej commented on #226
I checked other Spark benchmarks, they seem to be fine. `dec-tree` does not use any RDDs, but there seems to be a problem with `movie-lens`, see #227.

[2020-04-14 09:34] lbulej commented on #226
Correction, `dec-tree` uses `DataFrame`, as @farquet found out when working on #228.

[2020-04-14 12:42] farquet commented on #227
I wonder how we let that slip through :)

I agree with all your observations. Note that there are a few calls to `cache()` (on `training`, `validation` and `test`), but they won't prevent recomputation since they are part of the core of the iteration. :/

My suggestion would be to ensure caching of all 5 RDDs, instantiate the `MovieLensHelper` and call the setup/load methods only once in the `setu

[2020-04-14 16:40] #220 closed

[2020-04-14 16:56] lbulej commented on #227
LGTM from where I stand. I would definitely put it into a branch so that we get the whole picture.
Can't say for sure it causes #187, but it is definitely a suspect :-)

[2020-04-14 17:02] #226 closed

[2020-04-14 17:03] #227 closed

[2020-05-05 23:42] piyush286 opened #231 "finagle-chirper fails on x86-64 Linux"
### Problem Description

Getting the following errors while running `finagle-chirper` on x86 Linux.

It fails with both OpenJ9 and HotSpot.

### Errors

[code]

### To Reproduce
- Direct command to run the benchmark
OR
1. Add (or enable if it already exists) the target(s) in the Renaissance playlist (https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/perf/renaissance/playlist.xml)
2. Use th

[2020-05-07 07:31] ceresek commented on #231
I'm running finagle-chirper on x86_64 (Fedora Linux) and OpenJDK 11 with no obvious issues. Could you please provide a bit more info to help us reproduce the error ? (Did you use Renaissance HEAD or the 0.10.0 release ? Is the machine you are using special in any way - e.g. high number of cores, lots of RAM, etc. ?) Thanks.

[2020-05-07 14:01] piyush286 commented on #231
I used 0.9.0 release from here: https://github.com/renaissance-benchmarks/renaissance/releases/download/v0.9.0/renaissance-mit-0.9.0.jar

Here's the info about the machine:
[code]

[2020-05-07 15:19] ceresek commented on #231
I've just finished running Renaissance 393adff09982986550ea888470119b329315a8f6 with OpenJ9 11.0.8 x86_64 build from May 5, on a machine with 80 processors, with and without forced GC between iterations, default number of iterations (90), with no error, so this looks a bit more difficult to reproduce.

Can you please try with Renaissance built from current HEAD ?

Also, is it possible that the mac

[2020-06-05 07:33] farquet commented on #187
@ceresek from your latest measurements, do you still see this gradually degrading performance and the increasing disk usage ?
I hope that #227 fixed it, so I'm closing this issue. Feel free to reopen if you still see the problem.

[2020-06-05 07:33] #187 closed

[2020-07-09 18:30] ceresek commented on #187
Yes, looks fixed (tested on both OpenJDK 8 and 11).

[2020-11-11 10:34] ceresek opened #233 "Better command line parsing wrt benchmark execution"
The current command line parsing code does not warn when multiple execution policies (`--repetitions <count>` and `--run-seconds <seconds>` and `--operation-run-seconds <seconds>`) are specified on the command line, and simply uses the last (?) one for everything.

Ideally, we should use the policies in a logical `or`, so that if any tells the harness to stop, it stops. (In practice, we needed a c

[2020-11-18 14:50] mur47x111 opened #234 "Cannot compile when download code as zip"
When download code as zip (i.e., without .git directory), `sbt assembly` encounters the following exception:
[code]
We suspect this may be related to fetching the git commit hash, which is not available when the `.git` directory is not present. If this is the case, please consider improving the error reporting.

[2020-12-02 14:20] farquet commented on #13
Based on the non trivial aspect of the issue and the fact that there exists tools to trap processes in their own environment (firejail or even docker), I'm removing the 1.0.0 milestone for now.

[2021-02-02 15:21] #234 closed

[2021-02-23 16:23] dcominottim opened #236 "Error while trying to output JSON file at the end of the benchmark on W10 20H2 (19042.804) with OpenJDK 11"
The command

`java -jar renaissance-gpl-0.11.0.jar --csv results.csv --json results.json all`

with

- W10 20H2 (19042.804)
- openjdk 11.0.8 2020-07-14 LTS (RedHat)

fails after the jdk-streams test with

[code]

[2021-02-24 11:33] lbulej commented on #236
Thank you for the report! It seems that the problem is a missing match default (see #237), but I don't have a Windows 10 machine on which I would run RedHat-built OpenJDK. Is this running in WSL?

Could you test the attached JAR/ZIP file (built from #237)? I excluded all but the `dummy` benchmarks to get under the 10MB limitation for attached files and renamed the JAR to ZIP for GitHub to accept i

[2021-03-03 09:43] stefanodoni opened #238 "How to use JMX plugin"
Hi,

I see that as part of the new release, it is possible to gather and report JMX metrics within the benchmark.

This can be very handy, however, I couldn't find any example about how to use them. I tried using the various command line options with no luck.

Could you kindly provide a working example?

Thank you!

[2021-03-04 13:12] vhotspur commented on #238
Hello,

if you download the main JAR and the JMX plugin JAR from the [0.11.0 release](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.11.0), following command should work.

[code]

Then the CSV would contain something like this:

[code]

and in the JSON there would be the following fragment.

[code]
And I see that we really do not have such example in README.md. I will add it

[2021-03-04 13:17] stefanodoni commented on #238
Great,

Thank you!

Is it possible to export other JMX metrics also?

On Thu, 4 Mar 2021 at 14:12, Vojtech Horky <notifications@github.com> wrote:

--
*Stefano Doni*
*CTO at Akamas*
*Mobile:* +39-348-9691385* | E-mail: stefano.doni@akamas.io
<stefano.doni@akamas.io>*
*akamas.io <http://www.akamas.io/>*

[2021-03-04 13:26] vhotspur commented on #238
At the moment, only `java.lang.management.CompilationMXBean` is used. But the plugin is extremely simple and it would be easy to create a different one collecting from other sources.

In which metrics would you be interested?

[2021-03-04 13:29] stefanodoni commented on #238
Memory and CPU usage for example

[2021-03-11 17:39] underhood31 opened #239 "Cannot compile using openJDK14"
While compiling the source code with openJDK14 I am getting the following error. Is there any workaround so that openJDK14 can be used to compile this suite.
[code]
Please find the full output attached. Any help would be appreciated.
[out.txt](https://github.com/renaissance-benchmarks/renaissance/files/6124904/out.txt)

[2021-03-16 11:45] ceresek commented on #239
Hello, could you please try the topic/update-scala-sbt branch instead of master ?

[2021-03-16 16:52] underhood31 commented on #239
Thanks that was useful

[2021-03-16 16:52] #239 closed

[2021-03-17 14:16] ceresek commented on #239
Glad it worked. Please note - the update means the benchmark scores are not necessarily the same as with the older version. @lbulej will know which benchmarks exactly were modified, if you need that (we plan to merge this branch quite soon).

[2021-03-22 00:10] lbulej commented on #236
I'm going to merge the proposed fix, please reopen if necessary.

[2021-03-22 00:11] #236 closed

[2021-03-22 14:43] lbulej opened #240 "CPU_COUNT unused in neo4j-analytics"
When looking through the setup code of the `neo4j-analytics` benchmark and specifically the `AnalyticsBenchmark.scala` file, I found that the `CPU_COUNT` attribute is set to `Runtime.getRuntime.availableProcessors`, but the value is not used anywhere.

The values of the `LONG_QUERY_NUM`, `SHORT_QUERY_NUM`, and `MUTATOR_QUERY_NUM` attributes come benchmark parameters and are constant (2, 1, and 1,

[2021-03-22 16:04] axel22 commented on #240
It was probably an oversight to add this field, I'm not aware of any prior plans to make the thread counts variable with the available core count.

Since we already hardcoded the cpu-count in some other (Spark) benchmarks for stability reasons, my suggestion would be to keep the current values as defaults, and (potentially) only implement logic to auto-pick these values if the user sets an option

[2021-03-23 10:39] lbulej commented on #240
I'm fine with that. So for now, the resolution is to remove the unused field. If needed, we can create a configuration that will derive those parameters from the number of available CPUs.

[2021-03-23 10:39] #240 closed

[2021-04-01 17:31] ericcaspole commented on #152
FYI, we also discovered the version parsing problem when the java version is like "11" or "16" with no decimal places. This stack trace will occur:

java.lang.ExceptionInInitializerError
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:76)
	at org.apache.hadoop.mapred.FileInputFormat.setInputPaths(FileInputFormat.java:362)
	at org.apache.spark.SparkContext$$anonfun$hadoopFile$1$$an

[2021-04-18 16:36] ceresek opened #241 "Compatibility with Java 16"
Just a quick list of benchmarks failing on Java 16 (using the 0.11.0 build), since I was running it recently:

- als
    `java.lang.reflect.InaccessibleObjectException: Unable to make field transient java.lang.Object[] java.util.ArrayList.elementData accessible: module java.base does not "opens java.util" to unnamed module @681a8b4e`
- chi-square
    `java.lang.reflect.InaccessibleObjectException:

[2021-04-26 13:09] vhotspur opened #243 "Try GitHub actions"
Seems to be more flexible than Travis.

Opening mainly to track progress.

[2021-04-27 14:17] farquet commented on #241
With a small fix, we can make 7 of them work pretty quickly.

Illegal reflective accesses used to generate warnings, but as of JDK16, they are forbidden unless the given modules are explicitly requested on the command line (or in the `MANIFEST` with `Add-Opens: <module>/<package> <module>/<package> ...`).

I've experimented locally with a renaissance build that includes the scala upgrades from #24

[2021-04-27 16:47] farquet commented on #231
I can reproduce this problem on a specific machine. I'll have a look but I feel the benchmark can't open some ports or reach out to localhost somehow.

[2021-04-29 09:45] underhood31 opened #245 "[question] Scala compiler used in the benchmark suite"
Hi!
Is the scala compiler used while building the suite is included in the benchmark repository (and where) or does it uses the one installed in the system.

[2021-04-29 16:32] axel22 commented on #245
It uses the compiler version that the sbt build definition tells it to. In fact, separate benchmarks use different Scala versions, and each of them gets compiled with the respective version of the Scala compiler.

[2021-04-29 16:45] underhood31 commented on #245
For learning purpose I want to change the scala compiler for a benchmark, how can I do that?

[2021-04-29 17:05] farquet commented on #241
Remaining work for this issue:

- [ ] Investigate `dec-tree` problem.
- [ ] Bump chronicle version in `db-shootout` to see if it has been fixed in the meantime. Note that db-shootout (and chronicle in particular) is causing us several problems (#163, #153). Based on the discussion in #153, we should try to replace chronicle with Ignite: https://github.com/renaissance-benchmarks/renaissance/issues/

[2021-04-30 09:37] lbulej commented on #245
Each sub-project in the `benchmarks` directory has its own `build.sbt` file, which contains the `scalaVersion` setting. This tells you what Scala version is being used and you can try changing it for that sub-project.

Just be advised that changing Scala version may cause a benchmark to fail to compile, especially if you change major versions -- some dependencies simply don't exist for some major

[2021-04-30 12:15] lbulej commented on #152
We have merged #242 to the master branch, moving to Spark 3.0.1. Moreover, it seems that we should have no problems moving to Spark 3.1.1 (see #247).

[2021-04-30 12:18] lbulej commented on #150
The master branch now uses Spark 3.0.1 and it seems that we should be able to move easily to Spark 3.1.1 (see #247).

[2021-04-30 12:21] lbulej commented on #127
Related to #244

[2021-04-30 12:50] farquet commented on #152
Looks like this can be closed then.

[2021-04-30 13:55] underhood31 commented on #245
Thanks for replying.
I am new to programming with scala please correct me if I am wrong,

If every benchmark uses a different version of scala then the binaries of all those versions should be present in the benchmark suite, but I am unable to find their location. Where are they stored?

[2021-04-30 15:15] underhood31 commented on #245
Or are the dependencies downloaded at the build time?

[2021-04-30 15:27] lbulej commented on #245
Yes. The build tool downloads the right Scala version and the build system bundles the corresponding Scala library into the final jar file. If you change the Scala version in the `build.sbt` file of a benchmark sub-project and actually succeed compiling it, then that benchmark will use a different Scala library.

[2021-04-30 15:32] #152 closed

[2021-04-30 16:31] lbulej opened #249 "Outdated Oracle JDK9 trust store on Mac"
Recent PRs have trouble passing the Travis bundle stage with Oracle JDK9 on MacOS X.

The problem looks like an outdated trust store:
- https://ao.gl/solved-pkix-path-building-failed-sun-security-provider-certpath-suncertpathbuilderexception-unable-to-find-valid-certification-path-to-requested-target/
- http://littlebigextra.com/how-to-fix-pkix-path-building-failed-sun-security-provider-certpath-s

[2021-04-30 16:46] lbulej commented on #249
Another alternative would be to play with `osx_image`. We are currently using `xcode9.3`, but `xcode9.4`  is the default:
- https://docs.travis-ci.com/user/reference/osx

[2021-04-30 17:22] underhood31 commented on #245
Thanks, I understood it.

But for a research project, I will change the code of the scala standard library and I want to use that modified version to run some benchmarks in this suite. Is this possible?

[2021-04-30 17:38] lbulej commented on #245
Probably the simplest way is to replace the Scala library in the final Renaissance JAR (and it can be easily scripted).

I don't know of a simple way to tell the build tool to use a modified Scala library. You could try disabling the `autoScalaLibrary` setting and provide the modified Scala library as an explicit dependency, but SBT might (strongly) resist your efforts.

[2021-04-30 17:40] underhood31 commented on #245
Thanks this was very helpful!

[2021-04-30 17:40] #245 closed

[2021-05-01 23:25] lbulej commented on #249
OK, not really, but running with `oraclejdk8` instead of `oraclejdk9` seems to.

[2021-05-03 12:58] farquet opened #251 "Dotty benchmark is failing on master"
As one can see in the Travis job (and that I can reproduce locally), the failure is:

[code]
https://travis-ci.org/github/renaissance-benchmarks/renaissance/jobs/768860765

As mentioned in #242, there is the plan to replace the scala sources to compile. So hopefully the error goes away just by doing this.

Looks like result validation could have helped catch that though :D
[code]

[2021-05-03 13:00] farquet commented on #249
How about using OracleJDK11 instead of OracleJDK9?

I think sticking the Travis gate to LTS versions of the JDK would be better and easier to maintain. So 8, 11 and 17 when the time comes.

[2021-05-03 14:03] lbulej commented on #251
Yep, I noticed that as well. It was caused by me making the `batch_compile` parameter explicit and giving it a wrong default. The batch compilation is meant for the `scalap` sources that are not yet integrated. I have an update for `dotty` in the works.

[2021-05-03 14:04] lbulej commented on #251
That and actually running the dotty compiler with a reporter, so that we can detect compilation errors.

[2021-05-03 14:21] lbulej commented on #249
We did not have a clear policy on the choice of JDKs to test on and I don't know why we chose JDK9 on OS X.  Also, it's not clear why JDK9 should have an outdated trust store compared to JDK8, but we can work with that now.  Ideally, we would want to test more JDKs, but it's becoming unwieldy.

This issue actually forced me to disassemble and reassemble the Travis CI setup over the weekend in the

[2021-05-04 12:05] #249 closed

[2021-05-04 18:15] #251 closed

[2021-05-26 13:00] farquet commented on #219
@lbulej is it solved with the recent sbt upgrade?

[2021-05-26 13:09] farquet commented on #219
Ok. I'm closing. If anyone faces that issue again, feel free to re-open.

[2021-05-26 13:09] #219 closed

[2021-06-07 10:37] ceresek opened #260 "Spark worker scaling parameters"
Currently, the performance of the Spark benchmarks does not change with the configured number of executors, except for ALS, which partitions the input data based on the configuration. This may be a relevant note in the Spark documentation:

This is quite vague, but may explain why our code (https://github.com/renaissance-benchmarks/renaissance/blob/510b3b9e8f01dc397f35b64a7b5f8a943b75d012/benchmar

[2021-06-07 10:39] ceresek commented on #260
![workers-page-rank](https://user-images.githubusercontent.com/6158703/121003095-6abcb400-c78d-11eb-8fa3-569bf2a880d8.png)

[2021-06-07 10:54] ceresek commented on #260
... seeing how our Spark instance is hardcoded to run locally (https://github.com/renaissance-benchmarks/renaissance/blob/510b3b9e8f01dc397f35b64a7b5f8a943b75d012/benchmarks/apache-spark/src/main/scala/org/renaissance/apache/spark/SparkUtil.scala#L61) I'm not sure what we're trying to do with the worker instance count ?

[2021-06-07 10:59] lbulej commented on #260
I was under the impression that the number of executors influenced the default number of partitions created by default when creating RDDs directly from files on disk. It was also one of the reasons I avoided creating RDDs by just preparing data collections in memory and calling `parallelize()` on them, which would avoid I/O, but use a different class underneath. Maybe it's something we should actu

[2021-06-07 11:06] lbulej commented on #260
This was in the original code from the very beginning. I probably did a cursory check of the documentation at some point to see what that means, but at this point I only recall that the whole idea was to control the number of executors (thread pools) and the number of threads per executor. If this does not work as expected, then we should revisit this completely.

[2021-06-07 11:35] ceresek commented on #260
I think in local mode there is always only one (in process) `Executor` (with one thread pool) created here https://github.com/apache/spark/blob/7ce7aa47585f579a84dc6dd8f116a48174cba988/core/src/main/scala/org/apache/spark/SparkContext.scala#L2873 and here https://github.com/apache/spark/blob/7ce7aa47585f579a84dc6dd8f116a48174cba988/core/src/main/scala/org/apache/spark/scheduler/local/LocalSchedule

[2021-06-07 13:39] lbulej commented on #260
The thing with controlling the number of executor instances appears to originate from #145 and #147 and at that time, it seemed to work for @farquet.

Looking at the [allowed master URLs](http://spark.apache.org/docs/latest/submitting-applications.html#master-urls), the recommended setting for `local` master appears to be to set the number of worker threads to the number of cores on the machine, i

[2021-06-07 18:54] vhotspur commented on #163
Small progress notice: I have tried upgrading `net.openhft` packages to `2.20` and that fails too:

[code]

[2021-06-08 08:00] ceresek opened #264 "Add benchmark for serverless Java (Quarkus ?)"
We should consider adding a workload that represents reactive serverless Java environments, such as Quarkus and friends. Some bits of thought:

- At the core a REST service workload, so an artificial client that pushes requests, and a server that handles them ?
- Reactive event handling model with Mutiny (https://quarkus.io/guides/getting-started-reactive) ?
- Any complex event driven processing i

[2021-06-08 17:41] vhotspur opened #265 "Spark benchmarks fail on Windows"
[code]

Probably due to update of `winutils.exe` resource.

[2021-06-08 18:05] lbulej commented on #265
You are right. I'll bump Spark and update everything.

[2021-06-08 18:14] vhotspur commented on #265
Please, see my `issues/265` branch.

[2021-06-09 06:07] lbulej commented on #265
Ooops, it didn't seem like there is more to do (dll loading). Care to elaborate?

[2021-06-09 06:16] vhotspur commented on #265
Hadoop uses [native functions](https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-common/NativeLibraries.html)  for [some operations](https://cwiki.apache.org/confluence/display/HADOOP2/WindowsProblems). Without the DLL, it fails in some clean-up phase.

[2021-06-16 12:21] lbulej commented on #165
As of #267 the `renaissance-core` library is considered a `provided` dependency and is not packaged at all, because its classes are provided directly by the top-level bundle. This does nothing about scala library classes though, but I'm closing this for now.

[2021-06-16 12:21] #165 closed

[2021-06-16 13:57] vhotspur opened #268 "Default JMH run fails (dummy has no test configuration?)"
On a clean clone (commit 1c13d77) the following fails (with JDK 10 but I guess it is not JDK-specific):

[code]

The error shown is

[code]

Relevant trace is the following:

[code]

@lbulej Do you know what could be causing this?

[2021-06-17 07:37] lbulej commented on #268
I think I do :-) Previously, it did not matter if we asked for a configuration that did not exist, but it does now and because Travis was out, we are just finding out that we don't have the `test` and `jmh` configurations in the `dummy` benchmarks, just as the exception says. My bad, I'll add them ASAP.

[2021-06-17 07:45] vhotspur commented on #268
Thanks! I was about to add PR for GitHub Action and all were in the red ;-).

BTW, I tried migrating Travis to the dot-com version but it required subscription to some Beta without any information on what it would mean so I guess GHA are a better way for now...

[2021-06-17 07:49] lbulej commented on #268
More precisely, we just need the `test` configuration in the `dummy-empty` benchmark, because it is used as a substitute for incompatible benchmarks in JMH runs during CI (and those runs expect to find the `test` configuration).

[2021-06-17 08:38] #268 closed

[2021-06-18 07:47] #243 closed

[2021-06-21 11:16] vhotspur opened #272 "Windows builds broken"
Execution ends with the following trace:

[code]

[2021-06-21 11:38] ceresek commented on #272
On a related note, does `--plugin` work for you ? I've had a problem with 510b3b9 (not master branch) because it tried to use a filename as a URL, which failed, and one cannot specify the protocol on the command line because the loader uses the separator. I've solved this with a quick hack to get things running but if it also impacts master we should take a look.

[2021-06-21 14:52] #272 closed

[2021-06-21 17:05] lbulej commented on #260
#274 removes the configuration of executor instances (along with the benchmark parameter) as well as explicit input data partitioning (for now).

I was wondering whether it would make sense to have a parameter, e.g., `input_partititions_scaling`, as a multiplier of `spark_thread_count` to control the number of input data partitions. Reasonable values of the parameter would be probably limited to `

[2021-06-21 19:45] #265 closed

[2021-06-22 08:05] vhotspur commented on #272
No (looked at  018c8e3). I will open a separate ticket.

[2021-06-22 08:10] vhotspur opened #278 "Plugins cannot be started"
Plugins cannot be started, adding `--plugin 'plugins/jmx-timers/target/plugin-jmxtimers-assembly-0.0.2.jar!org.renaissance.plugins.jmxtimers.Main'` ends with the following error.

[code]
_Originally posted by @ceresek in https://github.com/renaissance-benchmarks/renaissance/issues/272#issuecomment-864964517_

[2021-06-23 06:10] #278 closed

[2021-06-23 06:48] lbulej commented on #260
I have updated the PR and the measurement bundle (plugins work now). For testing, I added `als-ml` benchmark, which uses `ml.ALS` instead of `mllib.ALS`. Both do a conversion to RDD, but the `mllib` version seems more efficient.

[2021-07-01 08:48] ceresek commented on #260
Adding a whole bunch of plots showing how performance depends on the number of threads for individual benchmarks, collected on dual socket Xeon Gold 6230 (2 packages, 20 cores per package, 2 threads per core).

![threads-als](https://user-images.githubusercontent.com/6158703/124095325-daa31f00-da59-11eb-9b5d-5f90553d7e90.png)
![threads-als-ml](https://user-images.githubusercontent.com/6158703/1240

[2021-07-01 08:54] ceresek commented on #260
Assuming other machines behave similarly, I think we should cap the number of threads used as follows (with a warning if more cores are available):

- 2 or slightly more (exact value not important) - chi-square, gauss-mix
- 4 or slightly more (exact value not important) - dec-tree
- 8 - movie-lens
- 12 - als, als-ml, log-regression, page-rank
- unlimited - naive-bayes

That is until we tackle the

[2021-07-02 10:15] vhotspur opened #283 "CI: failing MacOS runs on JDK 11"
It seems that starting from 6d12a20c5f9c43218a20f451882238937ac085e3 (PR #282) runs on MacOS on JDK 11 are failing with stack overflow error.

It has happened in `als` in both builds so far ([1](https://github.com/renaissance-benchmarks/renaissance/runs/2963302138#step:10:347), [2](https://github.com/renaissance-benchmarks/renaissance/runs/2970810564#step:10:348)).

It might still be some kind of

[2021-07-02 10:31] vhotspur commented on #283
Seems that the same problem happened when [trying JDK 14](https://github.com/renaissance-benchmarks/renaissance/runs/2971239008?check_suite_focus=true#step:10:333). It looks like it is related to number of cores: on my machine running with `taskset -c 0,1` fails too while normal run (I have 4 cores) succeeds.

[2021-07-02 10:42] lbulej commented on #283
It's something that I observed on Travis CI in the `movie-lens` benchmark when I disabled checkpointing. However, it's something that bubbles up from the bowels of deserialization libraries and it's not something I can connect to particular benchmark behavior.

[2021-07-02 10:43] lbulej commented on #283
In particular, it happened also before Scala 2.12.14, so I don't think that's the culprit.

[2021-07-02 11:12] vhotspur commented on #283
Might be, I only observed it first on the above mentioned commit.

It seems like if Spark has some minimal number of executors it needs and simply running on single-core machine is probably out of question.

Following patch (though not in state for merging) somehow illustrates the changes that worked for me. But I might have been chasing some consequences rather than a root cause. Any ideas?

[cod

[2021-07-02 11:49] lbulej commented on #283
Does it crash if you run any of the benchmarks with `--override spark_thread_limit=1` or only if you limit the available processors using `taskset`? Does `taskset` limit affect what `Runtime.getRuntime.availableProcessors()` returns?

[2021-07-02 12:02] vhotspur commented on #283
With `--override spark_thread_limit=1` it crashes on 1, 2 and 3 CPUs (set via `taskset`).
With `--override spark_thread_limit=2` it crashes on 1 CPU (set via `taskset`).

With `taskset -c 0-..` (and no `--override`) it crashes on 1 and 2 CPUs.

All tested on my laptop (4 cores, running with `-Xmx2500M`) and on `test` configuration (like in CI).

Yes. It is visible in the line `NOTE: 'als' benchmar

[2021-07-02 12:54] lbulej commented on #283
Just to make sure -- the crash, even if you limit the processors, is not really Spark complaining but the weird stack overflow in (de)serialization, right? I believe that Spark should be able to run even on a single CPU -- it can just create an executor with a single thread. Does it also happen when you change `scalaVersion` in `apache-spark/build.sbt` to `2.13.5` or when you set the thread limit

[2021-07-02 14:12] lbulej commented on #283
Hmm, looking at the most recent failures, it seems that the benchmark operation finishes, so this might be something triggered by dumping the results in the benchmark teardown phase. Can you try with the https://github.com/renaissance-benchmarks/renaissance/tree/topic/dump-spark-output-conditionally branch? It disables the final model dump -- at this point, it's mostly a debugging feature to find

[2021-07-02 14:28] ceresek commented on #283
Just curious - does the problem go away if you increase stack sizes ? That is, are we seeing higher-but-correct stack usage, or are we seeing an infinite recursion that would fail no matter the stack size ?

[2021-07-02 16:06] lbulej commented on #283
@vhotspur Perhaps we could include `ulimit -a` when printing info about the CI environment (probably not on Windows).

[2021-07-02 16:19] ceresek commented on #283
Is `ulimit` relevant in this context ? These are Java threads, so likely set with `-Xss` and not from `ulimit` ? The default should be around 1MB on most platforms (see `-Xss` in https://docs.oracle.com/en/java/javase/14/docs/specs/man/java.html).

[2021-07-02 16:35] vhotspur commented on #283
Good call, thanks! It somehow breaks around `-Xss1064k` (which is still fine with `taskset -c 0` but `1065k` is not).

[2021-07-02 16:37] ceresek commented on #283
Now I'm totally confused :) you're saying a run with _smaller_ stack (1064k) finishes fine, but _larger_ stack (1065k) fails with stack overflow exception ?

[2021-07-02 16:39] vhotspur commented on #283
No, I just swapped it. Sorry. It is actually not deterministic but it is quite close to the default which seems to be 1M.

[2021-07-02 16:43] lbulej commented on #283
Could that mean that some call hierarchy goes deeper when there are only a few (or 1) executor threads, because it gets a work item that would otherwise be split?

[2021-07-02 16:47] vhotspur commented on #283
Might be.

On the other hand, quickly looking at Spark source, you can see `-Xmx4g -Xss4m` in *Scalatest runs all Scala tests* in their `pom.xml` (see [here](https://github.com/apache/spark/blob/34286ae5bf120544524a6cfe934755e20eb9f835/pom.xml#L2715)). So perhaps we were just lucky so far? :-)

[2021-07-02 16:49] ceresek commented on #283
That would be my theory as well - smaller thread count would imply larger chunks per thread. That said, it is strange that such data would end up being on stack, except if they are somehow complex and processed recursively. Also, if this hypothesis is correct, then the fact that the behavior also depends on `taskset` suggests that some data partitioning might be derived from detected processor cou

[2021-07-02 16:52] lbulej commented on #283
Apparently :-) Unfortunately, there is no way to set stack size at runtime.

BTW, does that problem also appear in the branch that disables dumping data from the last benchmark operation? It seems it was the action that triggered the failures, because it coalesces the data into a single partition before writing it to disk.

[2021-07-02 16:55] vhotspur commented on #283
Sorry, I have not tried that branch yet. I hope I will be able to do it later today.

[2021-07-02 17:01] ceresek commented on #283
Unfortunately, there seems to be no way to get current stack size settings at runtime (except by parsing command line arguments of the JVM, which feels fragile), so we cannot even print a warning in case the setting is missing.

BTW if we think the serializer is to blame, how about using the other serializer in Spark ? See `spark.serializer` in https://spark.apache.org/docs/latest/configuration.ht

[2021-07-02 17:01] lbulej commented on #283
We propagate the `taskset` restriction to Spark, because we configure the local executor to use `min(availableCpuCount, sparkThreadLimit)` threads. What you describe would correspond to the failures occurring with `spark_thread_limit=1` without `taskset` (which I don't recall if they do, I think @vhotspur always used `taskset`).

[2021-07-02 17:09] lbulej commented on #283
Right. I also checked the ThreadInfo MBeans and there is nothing about it.

I only know of the Kryo serializer, which requires registering the classes being used. Spark should automatically register common Scala core classes, so maybe it would just work out of the box.

[2021-07-02 17:33] lbulej commented on #283
BTW, it is possible to pass `stackSize` argument to the `Thread` constructor, but the documentation says that the platform can treat it as a suggestion (and do whatever it wants with it, including completely ignoring it) and that its effect is highly platform-specific. It does not say anything about other threads inheriting the property.

Even then, the harness would have to be refactored to drive

[2021-07-02 18:01] lbulej commented on #283
@vhotspur Can you try the https://github.com/renaissance-benchmarks/renaissance/tree/topic/use-kryo-serializer branch? I can't confirm if it actually enables it (also, the documentation says that Spark actually uses it internally for simple types, arrays of simple types, and Strings). In the `als` case, it might apply to the `Rating` class from ML (provided that the implementation actually registe

[2021-07-03 07:37] lbulej commented on #283
However, I can do roughly the same without enabling the Kryo serializer.

Given that I can fit the workload into roughly half the stack size @vhotspur reports, could it be that on his machine (and maybe on the Mac), the JVM is using larger pointers? But compressed oops should be the default on heaps below 32G, no?

[2021-07-03 14:44] lbulej commented on #283
I did some testing, and yes, OpenJDK 8 and 11 respect the thread stack size if given, but it's not a property that would be "inherited" when a thread creates another thread. Compressed OOPs don't seem to apply to method calls, and it probably makes sense.

Can you run [StackSmash.java](https://github.com/renaissance-benchmarks/renaissance/files/6758563/StackSmash.java.txt) on your machine (it need

[2021-07-20 09:28] vhotspur commented on #283
@lbulej Sorry for the delay.

Shall I pursue this further or can we close it as not-reproducible anymore? When run on latest master (a418bdb), even with `taskset -c 0` it needs less than `750k` of `-Xss` to work.

[2021-07-20 10:17] lbulej commented on #283
I'd close it as an issue, I hope we will recall it when we get hit by the same issue :-) We can't really do much here (detecting stack size is unreliable) and Spark does not seem to have a setting to create threads with a specific stack size, probably because Java SDK does not guarantee to respect it (OpenJDK/Hotspot does). So the only thing left is maybe creating a "Known issues" section in the r

[2021-07-20 12:17] #283 closed

[2021-07-21 11:01] vhotspur commented on #241
Re-tested on a418bdb1b35e09268163702057985e65ea1699e9. All benchmarks are working, only `als-ml` fails, none of the `--add-opens` mentioned above worked for me.

[code]

[code]

[2021-07-21 15:05] vhotspur commented on #241
Sorry about the confusion, `sbt clean` have not cleaned everything (hence the `als-ml` still being present). `als` and all other benchmarks work, but JMH run fails as can be [seen in this GHA log](https://github.com/renaissance-benchmarks/renaissance/runs/3125145475).

[2021-07-22 08:47] lbulej commented on #241
Hmm, this is probably because JMH launches its own JVM and does not pass the "opens" to the newly launched JVM...

[2021-07-22 08:52] vhotspur commented on #241
I think there is something else happening as in the above mentioned log, the normal run does not append any `--add-opens` and it still passes the test.

I have the needed changes in this branch 65329f05188c3068c0ad3925e6765c60901ff7dc.

[2021-07-22 09:01] lbulej commented on #241
For the normal (non-JMH runs), the --add-opens equivalent is in MANIFEST.MF:
[code]

JMH has no way of knowing to pass this on to the JVM it launches, which is why it needs the extra arguments.

[2021-07-22 09:06] vhotspur commented on #241
Ahaaa, I have not noticed that.

Thanks! I will fix that.

[2021-07-22 17:44] vhotspur commented on #127
I think we can close this as it is superseded by #241 (and related to #291).

[2021-07-23 12:31] #194 closed

[2021-07-27 15:39] #127 closed

[2021-07-28 06:42] farquet opened #295 "JDK17 support"
Since [the following commit in the JDK](https://github.com/openjdk/jdk/commit/fc08af58cb0571ed375a7937aac7a951ba224644), the Spark benchmarks (using Scala version 2.12.14) aren't working anymore on JDK17 (started failing with JDK17 build 26).
The `LambdaMetafactory` became stricter in its input validation throwing `java.lang.IllegalArgumentException: too many arguments`.

After investigation, it a

[2021-08-12 16:21] dcominottim opened #296 "Most/all benchmarks from 0.12.0 seem to fail on Apple Silicon with macOS Big Sur and Azul JDK 11 for AArch64"
Below is the terminal output I got after letting the benchmarks run overnight on my MacBook Pro M1. The JDK version used was 11.0.12+7 (Zulu: 11.50.19) for AArch64.

    danilo@MacBook-Pro-de-Danilo Downloads % java -jar renaissance-mit-0.12.0.jar all
    Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
    NOTE: 'page-rank' benchmark uses Spark local executor with 8

[2021-08-16 09:25] farquet commented on #295
As announced [here](https://contributors.scala-lang.org/t/scala-2-12-15-planning/5152), Scala 2.12.15 target date is September 1st. I've tested the nightly builds of 2.12.15 and I confirm all benchmark are JDK17 compatible with it.

[2021-09-15 11:57] farquet commented on #295
Last bit fixed by #297

[2021-09-15 11:57] #295 closed

[2021-09-15 14:14] #241 closed

[2021-09-15 21:47] #82 closed

[2021-09-15 21:49] JohnTortugo commented on #241
Thank you for fixing this!

[2021-09-17 06:36] lbulej commented on #296
Thank you for the report and sorry about the delayed response. There seem to be two independent issues.

The one in `db-shootout` is related to an absence of a JNA native dispatch library, similar to what people experienced when trying to run the suite on ppc64le / s390x (#153). There is not much we can do about it in the short term, in the long term, we might want to audit the databases in `db-sh

[2021-09-17 06:57] lbulej commented on #296
Or somehow inject newer JNA into `db-shootout`. It is currently using version 4.2.1 which does not seem to have aarch64 support on darwin. Looking into JNA 5.9.0 [artifact](https://mvnrepository.com/artifact/net.java.dev.jna/jna/5.9.0) shows that it has aarch64 support, so that's probably something we could try.

[2021-09-17 10:55] lbulej commented on #296
I did just that and created a build which contains only the `db-shootout` benchmark with the JNA libraries updated to version 5.9.0. It seems to work on my Intel/Linux machine, but I don't have an AArch64 Mac to test on -- could you test if the benchmark can run with the updated JNA libraries?

You can either build the [issue/296-jna](https://github.com/renaissance-benchmarks/renaissance/tree/issu

[2021-09-17 11:06] lbulej commented on #153
Or we can just update the JNA library used by `Chronicle` to call `msync`. JNA 5.9.0 seems to have support for `ppc64le/s390x`, so it might help. I did the update in an attempt to fix one of the issues in #296 (which is common to this one) so it might help here as well, see my [comment](https://github.com/renaissance-benchmarks/renaissance/issues/296#issuecomment-921703313) in #296 for link to a c

[2021-10-14 06:11] jiangxinshang opened #323 "What is the meaning of column names in CSV files"
headline of the output csv:
`benchmark,duration_ns,uptime_ns,vm_start_unix_ms`
duration_ns ?
uptime_ns ?
vm_start_unix_ms ?

[2021-10-14 07:01] #323 closed

[2021-10-21 10:02] farquet opened #324 "Migrate benchmarks from Scala 2.12 to Scala 2.13/3.x"
Opening to keep track of benchmarks still stuck on Scala 2.12.

As of Spark 3.2.0, Scala 2.13 is now supported: https://spark.apache.org/releases/spark-release-3-2-0.html

Should be eventually migrated away from 2.12 (to 2.13/3.x):

- [x] `apache-spark` benchmarks (#327)
- [ ] `reactors`
- [x] `neo4j-analytics` (#422)
- [x] `scala-stm-bench7` and `philosophers` (#445)
- [x] `finagle-http` and `fin

[2021-11-03 19:32] lbulej commented on #324
Spark is basically [ready](https://github.com/renaissance-benchmarks/renaissance/tree/topic/update-spark-scala).

With `neo4j-analytics`, the problem is the **Cypher** component of Neo4j (https://github.com/neo4j/neo4j/issues/12687) that keeps it chained to Scala 2.12.

[2021-11-09 10:08] lbulej commented on #296
Updated artifact built with JNA 5.10.0: [renaissance-gpl-0.13.0-5-ga00b150.jar](https://drive.google.com/file/d/1nDLuDl8FF2j49YNXchAFwOt3GTSlXKXZ/view?usp=sharing)

[2021-11-09 23:19] ericcaspole opened #329 "Please upgrade sbt-jmh plugin to the latest"
Hi, I ran this past Francois,
could we upgrade the sbt-jmh plugin to the latest, which would also take in a newer JMH? I have had trouble to get perfasm to work on ARM with the older one.
Thanks,
Eric

$ git diff project/plugins.sbt
diff --git a/project/plugins.sbt b/project/plugins.sbt
index 3ac49db5..a0cdba71 100644
--- a/project/plugins.sbt
+++ b/project/plugins.sbt
@@ -1,4 +1,4 @@
 addSbtPlugi

[2021-11-10 13:36] farquet commented on #153
Can this be closed now?

[2021-11-10 14:20] MBaesken commented on #153
Hi,  my change for issue https://github.com/java-native-access/jna/issues/1388  went into JNA .
There is already a JNA 5.10 containing it (Map the arch zarch_64 as reported by SAPJVM8)  : https://github.com/java-native-access/jna/blob/master/CHANGES.md#release-5100
did you switch to this new version already , if so then the issue can be closed.

[2021-11-10 14:29] farquet commented on #153
@lbulej's PR bumps to the new version: https://github.com/renaissance-benchmarks/renaissance/pull/322

[2021-11-10 14:40] MBaesken commented on #153
Sounds great - any idea when the new release with this change approx. will be released ?
(and yes I think we can close this issue)

[2021-11-12 09:44] vhotspur opened #331 "Streamline CI on GHA"
Follow-up to the discussion in #325 ([direct link](https://github.com/renaissance-benchmarks/renaissance/pull/325#pullrequestreview-803676465)).

Main point is to test LTS versions first.

[2021-11-17 16:42] #329 closed

[2021-12-07 19:30] tactlessfish opened #334 "What does the "This benchmark provides no result that can be validated" warning mean?"
I've tried a few benchmarks, and they all output
[code]
If I'm understanding this correctly, a benchmark could fail partway through and have a lower duration than a benchmark that ran successfully.

What does this mean for me? Do I have to disregard the benchmark results if they can't be validated?

[2021-12-08 07:23] ceresek commented on #334
Ideally, each repetition of a benchmark would consist of a "work phase", where the measured work is done, and a "validation phase", where the result of the work phase is checked for correctness, simply to make sure the work that was supposed to be done in the work phase was really executed. Unfortunately, for some of our benchmarks it is not easy to validate the results (especially in a reliable p

[2021-12-08 07:23] #334 closed

[2021-12-08 20:50] tactlessfish commented on #334
Thanks, that clears it up nicely!

[2021-12-10 12:58] jovanstevanovic opened #337 "Unnecessary netty-all lib on classpath + inconsistency between netty versions"
This is the list of all netty libraries on the classpath for apache spark benchmark:

- benchmarks/apache-spark/netty-all-4.1.68.Final.jar
- benchmarks/apache-spark/netty-buffer-4.1.50.Final.jar
- benchmarks/apache-spark/netty-codec-4.1.50.Final.jar
- benchmarks/apache-spark/netty-common-4.1.50.Final.jar
- benchmarks/apache-spark/netty-handler-4.1.50.Final.jar
- benchmarks/apache-spark/netty-resol

[2021-12-10 14:14] lbulej commented on #337
Wow, that's a good catch, thanks! The libs on the classpath are the result of normal transitive dependency resolution done by SBT/coursier, so there must be something wrong along the path (we don't really tweak anything except ask for `spark-core`, `spark-sql` and `spark-mllib`).  I'll try to see what we can do about that.

[2021-12-10 15:41] jovanstevanovic commented on #337
I'm glad I could help! Let me know once you find out something :smile:

[2021-12-14 10:34] farquet opened #339 "Investigate Apache Solr benchmark"
The Apache Solr project is a search platform written in Java. This looks like a good candidate for a renaissance benchmark.

Especially since they have JMH benchmarks that could be reused: https://github.com/apache/solr/tree/main/solr/benchmark

In this page, they mention:
[code]

Here is the given benchmark: https://github.com/apache/solr/blob/main/solr/benchmark/src/java/org/apache/solr/bench/in

[2021-12-14 10:56] farquet commented on #337
The `sbt dependencyTree` command shows those relevant bits from within the `apache-spark` sbt project:

[code]
and
[code]

[2021-12-17 07:45] farquet commented on #264
Alternatively or in addition to Quarkus, we could investigate Micronaut. There seems to be a benchmark which could be reused in the TechEmpower benchmarks here: https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Java/micronaut

[2021-12-17 08:00] farquet opened #340 "Package benchmark sources in the final jar"
Since there has been quite a lot of renaissance releases in the last couple of years, it may not be obvious for a user to locate the benchmark sources on GitHub for a given renaissance execution they're investigating locally.

Assuming the addition of sources wouldn't increase the jar size too much, we could consider packaging them inside the jar such that IDEs would pick them up automatically.

I

[2021-12-19 08:36] axel22 commented on #340
Doesn't this happen by default when you publish?
Here's how to disable it:

[code]

https://www.scala-sbt.org/1.x/docs/Artifacts.html

[2021-12-20 14:43] lbulej commented on #153
The plan was to get a maintenance update out by the beginning of December but we wanted to make it easier to run the benchmarks on platforms that cannot do multiple class loaders. If things go well now, the first half of January 2022 looks like a reasonable target.

[2021-12-20 15:18] lbulej commented on #340
I might be a bit slow, but I don't completely get what is the problem we are trying to solve? We are not what I would describe as a fast-moving project (5 releases in 2 years)...

The releases get an automatic source snapshot. It's also possible to check out the release tag. For anything unreleased, i.e., built by people from the master branch between two releases, it's always possible to check ou

[2022-01-26 10:05] ceresek opened #345 "finagle-chirper reports exceptions during execution on Zing VM"
While executing (like, once every 10ish repetitions), finagle-chirper reports exceptions when running on Zing VM:

[code]

[code]

Observed with dc88e0b5d814a705edecd1ad0992281602b4c4c3.

[2022-01-27 09:51] farquet opened #347 "Dotty fails in standalone mode."
[code]
@lbulej's [comment](https://github.com/renaissance-benchmarks/renaissance/pull/346#issuecomment-1023028891) on that:

[2022-01-28 09:42] lbulej commented on #347
Apparently, there are still JVM issues, specifically on OpenJ9, see #346

[2022-01-29 02:34] #347 closed

[2022-01-31 08:20] farquet commented on #331
For reference, the early access builds from Oracle can be found on dockerhub at `openjdk:<jdk>-ea-oracle`.

Example: `docker pull openjdk:19-ea-oracle`

[2022-01-31 12:20] lbulej commented on #331
Also, is there a way to build the main workflow first, so that it does not have to wait for the others to finish?

[2022-01-31 16:53] vhotspur opened #350 "Add CI for JDK 18 and 19 (ea)"

[2022-02-01 07:42] lbulej commented on #337
This should be fixed by the [0.14.0 release](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.14.0). Feel free to reopen if the problem persists.

[2022-02-01 07:42] #337 closed

[2022-02-01 07:45] lbulej commented on #153
It took a little longer, but the updated JNA that fixes the problem is now part of the [0.14.0 release](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.14.0). Thank you for helping with this issue!

[2022-02-01 07:45] #153 closed

[2022-02-01 10:26] jovanstevanovic commented on #337
Great! I'll let you know if anything happens 😄

[2022-02-01 22:20] vhotspur opened #351 "Build in Fedora 35-based container fails"
I wanted to update our [Docker images](https://github.com/renaissance-benchmarks/docker-buildenv) to use Fedora 35 (instead of 34) and this actually lead to quite extraordinary failures.

Here is [log of one of the runs](https://github.com/renaissance-benchmarks/renaissance/runs/5010160956). Pasting here for completeness at the end of the description.

I have no idea what could be the culprit. It

[2022-02-02 00:19] lbulej commented on #351
Interesting, it built the release on my F35 without problems (with JDK8 and JDK11). This seems to be very early on in SBT initialization stage. It would probably play with SBT versions (it should be safe to downgrade).

[2022-02-02 15:06] farquet commented on #296
If a reader of that comment has an Apple M1 machine at hand and could report if Renaissance 0.14 works on it, we would be grateful.
Latest release should have improved compatibility significantly.

[2022-02-05 16:25] Ulibaer opened #353 "reactors (concurrency) fails with Java 11 GraalVM 22.0.0.2 EE on Windows 10 21H2"
On Windows 10 21H2 64bit with Java 11 GraalVM 22.0.0.2 EE the test "reactors (concurrency)" fails with NullPointerException on the **second** repetition:

GC before operation: completed in 333.103 ms, heap usage 131.266 MB -> 111.873 MB.
====== finagle-http (web) [default], iteration 11 completed (4599.485 ms) ======
====== reactors (concurrency) [default], iteration 0 started ======
GC before ope

[2022-02-10 13:58] lewurm commented on #296
I tested `renaissance-0.14.0.jar` on macOS/AArch64, and can confirm that it works 🙂  Thanks for fixing!

[2022-02-10 17:41] #296 closed

[2022-02-10 21:31] #350 closed

[2022-02-11 12:46] farquet commented on #353
Hi @Ulibaer,

Thanks a lot for the report. Since the benchmark works on all other VMs, this is likely a GraalVM EE problem and not a renaissance one. Could you report the issue to the GraalVM project instead?

https://github.com/oracle/graal

Please re-open this issue if the the conclusion on the GraalVM side is that there is a problem on the Renaissance side.

[2022-02-11 12:46] #353 closed

[2022-02-21 15:33] lewurm opened #354 "ConcurrentModificationException on finagle-chirper"
[code]

I see this exception roughly every 20-30 iterations on darwin-aarch64 with graal-enterprise jarGraal. It doesn't seem to affect performance.

[2022-02-22 09:11] lewurm commented on #354
Same benchmark, but different stacktrace, again darwin-aarch64 with graal-enterprise jarGraal:
[code]

this happened with darwin-aarch64 c2:
[code]

[2022-02-22 10:29] lbulej commented on #354
Thank you for the info! The have not really been any changes in the benchmark sources, so this is a bit baffling. Is it limited to the GraalVM or does it happen e.g. on OpenJDK or other VMs?

[2022-02-24 08:57] ceresek commented on #354
Possibly also #345 ?

[2022-03-23 15:44] farquet commented on #354
This is also observed on GraalVM native image.
Since it's the same as #345, this is very likely to be a benchmark bug that we should look into.

[2022-04-04 07:58] farquet commented on #345
Closing since this is a duplicate of #354.

[2022-04-04 07:58] #345 closed

[2022-04-04 18:05] #354 closed

[2022-04-14 15:42] gergo- opened #359 "Transient NullPointerException and deadlock in the reactors benchmark"
At Oracle Labs we have been seeing the reactors benchmark sometimes throw a `NullPointerException` and then deadlock. Here's a stack trace from a recent example:
[code]
As soon as this error is encountered, the benchmark hangs forever with 0% CPU usage and must be killed explicitly.

The stack traces from different Renaissance versions differ in line numbers, but the problem is always a `NullPoint

[2022-05-17 16:36] farquet commented on #359
Good find @lbulej ! It sounds plausible that this would fix the problem. But since it's a very transient problem, I don't think we can be 100% confident that this is the final fix even with intensive local testing of this candidate.

What I would suggest is to release a renaissance 0.14.1 including this change, which is anyway desirable because of the fix for #354 which landed on master.

The Graa

[2022-05-17 17:06] lbulej commented on #359
I was thinking that if @gergo- can, unlike me, "reproduce this most readily on Linux on an AArch64 machine", he could give the provided jar a quick try on said AArch64 machine to see if it can help (everything should be strictly sequential until the point we fire off the first message to a channel, but by that time, everything should be properly initialized).

I have few other things I would like

[2022-05-20 08:00] gergo- commented on #359
I've done some testing of the new build, and the NPE and deadlock seem to be gone. A formal release would be much appreciated. Thank you!

[2022-05-20 08:48] lbulej commented on #359
Thank you for testing! I'll pack it up and do a release soon.

[2022-05-22 19:01] #359 closed

[2022-05-27 09:44] vhotspur commented on #331
As a follow up on #362.

At the moment, we build everything (all the old JDK versions and plugins) on each push (or PR).

Practically, the jobs need about 10-15 minutes each, all of them are done in about an hour. The main four jobs (general checks for formatting, latest JDK on Linux, Windows and MacOS) are usually done in 25 minutes.

If we want to cut down the time, we need to decide what to run

[2022-05-29 13:15] farquet commented on #331
We have some benchmarks that are JDK11 only, so testing only the latest JDK would ignore those.
Moreover, the fact that the JDK changes can be significant and can impact the functionality of the suite, it feels safer to test at least LTS releases we support.

So, I think we should at least run tests on JDK8, JDK11, JDK17 and latest JDK as soon as we open a PR or make a change there.

Periodic runs

[2022-08-15 16:37] FJShen commented on #142
I support this proposal. Is there something technically tricky that keeps Renaissance from realizing this?

[2022-08-15 16:57] lbulej commented on #142
It depends. There are many libraries, so reviewing all of them (and after each update) for potential timeouts is not a feasible approach. The most sensible way to proceed is to report timeouts triggered by expensive analyses and see if the timeout can be a) configured without having to modify the library code, b) safely disabled. Then we have to proceed on case by case basis.

[2022-09-16 15:26] ceresek opened #363 "Plugin support in AOT compiled benchmarks"
At this time, we cannot use plugins with AOT compiled benchmarks - the harness uses `URLClassLoader` to get the plugin code from the JAR, with AOT compilation the class collection agent sees this and includes the class in the compilation config, however, such classes are only available in AOT binaries through `Class.forName`, so the call to `URLClassLoader` in the AOT binary will fail.

A simple h

[2022-09-22 06:46] jiangxinshang-loongson opened #364 "How to get the stable scores?"
Run twice with `-r 100`, but the score of the first run is very different from the second, about 20% floating，
so,  Is there a way to make it float less than 5%？

[2022-09-22 07:11] ceresek commented on #364
Which benchmark did you run, on what JVM, on what OS, on what hardware ?

Some benchmarks in the suite have relatively high variance. This is a sample of results I have collected recently with OpenJDK, the numbers are a coefficient of variation for each benchmark:

| benchmark | CV between samples |
| --- | --- |
| chi-square | 6% |
| dec-tree | 7% |
| finagle-chirper | 2% |
| fj-kmeans | 1% |
| f

[2022-09-22 07:31] jiangxinshang-loongson commented on #364
@ceresek  The benchmarks in my test results  are log-regression and scala-kmeans,  Similar to yours,  How should I test such test benchmark? Thanks

[2022-09-22 08:06] ceresek commented on #364
Any info about the platform ? The usual recommendation is to start with platform factors that can impact performance variability - on the JVM side, that might be setting the heap size with `-Xms` and `-Xmx` switches to reduce heap resizing during execution, it is also useful to check the frequency scaling and power management settings of your platform, avoid hyperthreading and turboboosting, obvio

[2022-09-22 08:25] jiangxinshang-loongson commented on #364
Thanks,  it is best to have relevant scripts, I will use the debian10 for debugging on x86_64, aarch64 and the new architecture loongarch64

[2022-09-22 09:21] parttimenerd opened #365 "Renaissance uses old slf4j version that ships a vulnerable log4j version"
The currently used slf4j version 1.7.33 uses a vulnerable log4j version, see https://www.slf4j.org/news.html.
This is problematic when running renaissance on servers in our intranet (and leads many security scanners to flag our renaissance instance as problematic).

[2022-09-22 13:53] #365 closed

[2022-09-22 13:58] ArnoZeller commented on #365
It would be great if there will be a new release for this. (i.e. 0.14.2).

[2022-09-22 14:01] vhotspur commented on #365
@lbulej What are the plans for next release, please?

[2022-09-23 07:32] lbulej commented on #365
I'm fine with this small update, otherwise I would be going for 0.15 with component updates all over the board (Spark, Scala, ...) and I would not want to rush that. I'll check that we don't pull in log4j anymore and will do a release sometime next week.

[2022-10-04 16:25] ceresek commented on #363
Status update. The above description was misleading where it stated that "such (dynamically loaded) classes are only available in AOT binaries through Class.forName`". The native image runtime is willing to "load" classes when they were compiled into the native executable. Because `URLClassLoader` will eventually invoke this machinery, the plugin class should load just fine if it were compiled int

[2022-10-04 16:42] farquet commented on #363
I would recommend going for 1, since mx benchmark already does plenty of command line building. There is a place in the command line to feed JVM options, I assume extra jars to add to the classpath could go in the same location.
However, it will likely require some small modifications to mx benchmark to whitelist this flag and propagate it correctly when calling native-image.

[2022-10-25 10:14] ceresek commented on #363
Solved by #368

[2022-10-25 10:14] #363 closed

[2022-11-15 01:45] Panxuefeng-loongson opened #369 "Can we sync with the jna community to support the LoongArch architecture?"
Hi all,

I am a developer from Loongson. LoongArch is a risc architecture developed by Loongson. Renaissance is an authoritative benchmark, we use it to improve the quality of the Loongson platform JDK, but the jna package supporting LoongArch is missing in renaissance, here is the contents of jna unpacked in renaissance:
[code]
Now that LoongArch is supported by the jna community: https://github.

[2022-11-15 08:42] Panxuefeng-loongson commented on #369
I am glad to receive your reply. Bumping JNA to version 5.12.1 will solve the problem. I'm looking forward to supporting LoongArch's renaissance.